// =============================================================================
// Form elements
// =============================================================================


input[type="text"],
input[type="email"],
textarea {
  border: $dark-color 1px solid;
  padding: 5px 10px;
  width: 100%;
}
input + input {
  margin-bottom: 10px;
}


.btn {
  @include box-sizing(border-box);
  border: transparent 1px solid;
	display: inline-block;
  font-style: italic;
  font-weight: normal;
	margin: 30px 5px 0 5px;
  overflow: hidden;
  position: relative;
	padding: 10px;
	text-align: center;
  width: 225px;
}
.btn:after {
  content:'';
  height: 1000%;
  position: absolute;
    top: 50%;
    left: 50%;
  transition-duration: 0.5s;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 100%;
  z-index: -1;
}

// FILLED BTN
.filled-btn {
  color: $main-color;
}
.filled-btn::after {
  opacity: 1;
}
.filled-btn:hover:after {
  height: 0;
  opacity: 0;
}

// FILLING BTN
.filling-btn::after {
  height: 0;
  opacity: 0;
}
.filling-btn:hover:after {
  height: 1000%;
  opacity: 1;
}

// PRIMARY BTN
.primary-btn {
  color: $main-color;
  border-color: $primary-color;
}
.primary-btn::after {
  background: $primary-color;
}
.primary-btn:hover {
  color: $primary-color;
}

// WHITE PRIMARY BTN
.white-primary-btn {
  border-color: $main-color;
  color: $primary-color;
}
.white-primary-btn::after {
  background: $main-color;
}
.white-primary-btn:hover {
  color: $main-color;
}

// SIMPLE PRIMARY BTN
.simple-primary-btn {
  border-color: $primary-color;
  color: $primary-color;
}
.simple-primary-btn::after {
  background: $main-color;
}
.simple-primary-btn:hover {
  color: $primary-color;
}

// WHITE SECONDARY BTN
.white-secondary-btn {
  border-color: $main-color;
  color: $secondary-color;
}
.white-secondary-btn::after {
  background: $main-color;
}
.white-secondary-btn:hover {
  color: $main-color;
}

// SIMPLE SECONDARY BTN
.simple-secondary-btn {
  border-color: $main-color;
  color: $main-color;
}
.simple-secondary-btn::after {
  background: $main-color;
}
.simple-secondary-btn:hover {
  color: $secondary-color;
}

// DARK BTN
.dark-btn {
  border-color: $dark-color;
  color: $dark-color;
}
.dark-btn::after {
  background: $dark-color;
}
.dark-btn:hover {
  color: $main-color;
}
