// =============================================================================
// Layout, header, nav, prefooter and footer definition
// =============================================================================

// GRID SYSTEM
.container,
.container-fluid {
  @include box-sizing(border-box);
  margin: auto;
  padding: $spacing-unit 15px $spacing-unit 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  @include box-sizing(border-box);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.center-block {
  display: block;
  float:none;
  margin: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.container:before,
.clearfix:after,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after,
.container:after {
  clear: both;
}
.row-offset {
  margin-top: $spacing-unit/2;
}

// RESPONSIVE
@media #{$small-screen} {
  .container {
    width: 750px;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-margin-05 {
    margin: 0 4.16666667%;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .middle-valign-ib {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  .flex-parent {
    display: flex;
    align-items: stretch;
  }
  .flex-parent-col {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
  }
  .flex-description {
    flex-grow: 1;
    text-align: left;
    width: 100%;
  }
  .row-offset {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.ariane {
  border-bottom: $light-color 1px solid;
  border-top: $light-color 1px solid;
  color: $medium-color;
  font-size: 0.93em;
  .container {
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

// Header
header {
  display: none;
}

@media #{$small-screen} {
  header {
    background: $extra-light-color;
    display: block;
    position: relative;
    a {
      color: $dark-color;
      z-index: 1000;
    }
    img {
      display: inline-block;
      height: 70px;
      vertical-align: middle;
      width: auto;
    }
    .container {
      padding: 15px;
      position: relative;
      z-index: 1;
    }
    .header-titles {
      display: inline-block;
      line-height: 0.5;
      margin-left: 30px;
      vertical-align: middle;
      p {
        margin-top: 0;
        text-align: left;
      }
    }
    .lang {
      float: right;
      font-size: 1.4em;
      a:hover {
        color: $primary-color;
      }
    }
    .title-2 {
      margin-bottom: 0;
    }
  }
}

// Navigation
nav {
	background: $extra-light-color;
	@include box-sizing(border-box);
	clear: both;
	height: 60px;
  width: 100%;
  img {
    height: 100%;
    width: auto;
  }
  .header-titles {
      display: inline;
  }
  span {
      vertical-align: middle;
  }
  ul {
    @include box-sizing(border-box);
    background: $dark-color;
    display: none;
    padding: 0 15px;
    position: static;
    li {
      font: bold 1.6em $title-font-stack;
      list-style: none;
      margin: 0 20px;
    }
    a {
    	color: $main-color;
    	border-bottom: transparent 3px solid;
    	@include box-sizing(border-box);
    	display: inline-block;
    	height: 60px;
      letter-spacing: 0.04em;
    	line-height: 2.9;
      width: 100%;
    }
    a:hover, .active {
    	color: $primary-color;
    }
    .lang {
      border-top: $medium-color 1px solid;
      color: $main-color;
      margin-top: 10px;
      a {
        display: inline;
      }
    }
    .lnr {
      display: none;
    }
  }
  label {
    position: absolute;
    right: 0;
  }
  .show-menu {
    @include box-sizing(border-box);
		display: inline-block;
    color: $dark-color;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 10px 15px;
    vertical-align: middle;
    .lnr {
      font-size: 3em;
    }
	}
  .show-menu:hover {
    color: $primary-color;
	}
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ ul {
    display: block;
    position: relative;
    z-index: 1000;
  }
  input[type=checkbox]:checked ~ .show-menu {
    color: $primary-color;
  }

  @media #{$small-screen} {
      .header-titles {
          display: none;
      }
    input[type=checkbox]:checked ~ ul {
      display: flex;
    }
    ul {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 750px;

      a {
        height: 60px;
        line-height: 3.5;
        width: auto;
      }
      a:hover, .active {
      	border-color: $primary-color;
      }
      li {
        font-size: 1.2em;
        margin: 0;
        width: auto;
      }
      .lang {
        display: none;
      }
      .lnr {
        display: inline;
      }
    }
    .nav-text {
      display: none;
    }
    .show-menu {
      display: none;
    }
  }
  @media #{$medium-screen} {
    ul {
      width: 970px;
      a {
        line-height: 2.6;
      }
      li {
        font-size: 1.6em;
      }
    }
  }
  @media #{$large-screen} {
    ul {
      width: 1170px;
    }
  }
}
@media #{$small-screen} {
  nav {
    background: $dark-color;
  }
}


// Prefooter
.prefooter {
  background: $secondary-color;
  color: $main-color;
  text-align: center;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }
  .slanted {
    @extend .slanted;
    background: $darker-secondary-color;
    width: 577px;
    margin-left: -15%;
  }

}

// Footer
footer {
  background: $medium-color;
  color: $main-color;

  img {
    height: 45px;
    width: auto;
  }
  .btn {
    margin: 0;
    width: 125px;
  }
  .btn:hover {
    color: $medium-color;
  }
  .logo-imac {
    display: none;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: auto;
  }
  .container {
    margin: auto;
    max-width: 460px;
  }
  .links {
    margin-top: 15px;
    text-align: center;
    span {
      color: $main-color;
      position: relative;
      transition: 0.5s;
      top: 10px;
    }
    span:hover {
      color: $primary-color;
    }
  }
  p + .links {
    display: flex;
    justify-content: space-between;
  }
  .contact-info {
    margin-top: 20px;
  }
  .contact {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    vertical-align: top;
  }
  .end-footer {
    background: $dark-color;
    color: $main-color;
    padding: 10px 15px;
    font-size: 0.9em;
    text-align: center;
    a {
      color: $main-color;
    }
  }
  .lnr {
    position: relative;
    bottom: 1px;
  }
  .title-2 {
    margin-bottom: 0;
    text-align: left;
  }
  @media #{$small-screen} {
    .container {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      max-width: 750px;
      width: 750px;
    }
    .col-7 {
      order: 2;
    }
    .links {
      display: flex;
      justify-content: space-between;
    }
    .links br {
      display: none;
    }
    .logo-imac {
      display: block;
    }
  }
  @media #{$medium-screen} {
    .container {
      max-width: 970px;
      width: 970px;
    }
    .links {
      display: flex;
      justify-content: space-between;
    }
    .links br {
      display: none;
    }
    .contact-info {
      display: flex;
      justify-content: space-between;
    }
  }
  @media #{$large-screen} {
    .container {
      max-width: 1170px;
      width: 1170px;
    }
  }
}
