// =============================================================================
// Layout, header, nav, prefooter and footer definition
// =============================================================================

// GRID SYSTEM
.container,
.container-fluid {
  @include box-sizing(border-box);
  margin: auto;
  padding: $spacing-unit 15px $spacing-unit 15px;
  position: relative;
  z-index: 1;
}
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  @include box-sizing(border-box);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.center-block {
  display: block;
  float:none;
  margin: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.container:before,
.clearfix:after,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after,
.container:after {
  clear: both;
}

// RESPONSIVE
@media #{$small-screen} {
  .container {
    width: 750px;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-margin-05 {
    margin: 0 4.16666667%;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-2 {
    margin-left: 16.66666667%;
  }
  .middle-valign-ib {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  .flex-parent {
    display: flex;
    align-items: stretch;
  }
  .flex-parent-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
  }
  .flex-description {
    flex-grow: 1;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


// OLD
// Layout
// .container {
//   @include box-sizing(border-box);
//   margin: auto;
//   padding: 60px 15px;
//   position: relative;
// }


// width: -webkit-calc(35% - (#{$spacing-unit} / 2));
// width:         calc(35% - (#{$spacing-unit} / 2));

// .col-2,
// .col-3,
// .col-2-3,
// .col-x {
//   @include box-sizing(border-box);
//   float: left;
//   margin-bottom: 40px;
//   p {
//     text-align: left;
//   }
// }
// .col-2:last-of-type,
// .col-3:last-of-type,
// .col-2-3:last-of-type {
//   margin-bottom: 0;
// }

// @media #{$small-screen} {
//   .col-2,
//   .col-3,
//   .col-2-3,
//   .col-x {
//     margin-bottom: 0;
//   }
//   .col-2 {
//     width: 50%;
//   }
//   .col-3 {
//     width: 33.33333%;
//   }
//   .container {
//     width: 750px;
//   }
//   .slanted {
//     height: 100%;
//     position: absolute;
//     left: -125px;
//     transform: skewX(30deg);
//   }
// }
// @media #{$medium-screen} {
//   .col-2-3 {
//     width: 66.66666%;
//   }
//   .container {
//     width: 970px;
//   }
// }
// @media #{$large-screen} {
//   .container {
//     width: 1170px;
//   }
// }

// .side-padding {
//   padding: 0 4%;
// }
// .side-padding:first-of-type {
//   padding-left: 0;
// }
// .side-padding:last {
//   padding-right: 0;
// }
// .center-content-padding {
//   padding-left: 6%;
//   padding-right: 6%;
//   h1, .title-2 {
//     text-align: center;
//   }
// }
.ariane {
  border-bottom: $light-color 1px solid;
  border-top: $light-color 1px solid;
  color: $medium-color;
  font-size: 0.93em;
  .container {
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

// Header
// Comments = former header with former logo
header {
  display: none;
}
@media #{$small-screen} {
  header {
    background: $extra-light-color;
    display: block;
    position: relative;

    a {
      color: $dark-color;
      z-index: 1000;
    }
    img {
      display: inline-block;
      height: 70px;
      vertical-align: middle;
      width: auto;
    }
    .container {
      padding: 15px;
      position: relative;
      z-index: 1;
    }
    .header-titles {
      display: inline-block;
      line-height: 0.5;
      margin-left: 30px;
      vertical-align: middle;
      p {
        margin-top: 0;
      }
    }
    .title-2 {
      margin-bottom: 0;
    }
  }
}

// Navigation
nav {
	background: $extra-light-color;
	@include box-sizing(border-box);
	clear: both;
	height: 60px;
  width: 100%;
  img {
    height: 100%;
    width: auto;
  }

        .header-titles {
            display: inline;
        }
        span {
            vertical-align: middle;
        }

  ul {
    @include box-sizing(border-box);
    background: $dark-color;
    display: none;
    padding: 0 15px;
    position: static;

    a {
    	color: $main-color;
    	border-bottom: transparent 3px solid;
    	@include box-sizing(border-box);
    	display: inline-block;
    	font: bold 1.6em $title-font-stack;
    	height: 60px;
      letter-spacing: 0.04em;
    	line-height: 2.9;
      width: 100%;
    }
    a:hover, .active {
    	border-color: $primary-color;
    	color: $primary-color;
    }
    li {
      width: 100%;
    }
    .lnr {
      display: none;
    }
  }
  label {
    position: absolute;
    right: 0;
  }
  .show-menu {
    @include box-sizing(border-box);
		display: inline-block;
    color: $dark-color;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 10px 15px;
    vertical-align: middle;
    .lnr {
      font-size: 3em;
    }
	}
  .show-menu:hover {
    color: $primary-color;
	}
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ ul {
    display: block;
    position: relative;
    z-index: 1000;
  }
  input[type=checkbox]:checked ~ .show-menu {
    color: $primary-color;
  }

  @media #{$small-screen} {
      .header-titles {
          display: none;
      }
    input[type=checkbox]:checked ~ ul {
      display: flex;
    }
    ul {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 750px;

      a {
        font-size: 1.2em;
        height: 60px;
        line-height: 3.5;
        width: auto;
      }
      li {
        margin-left: 0;
        width: auto;
      }
      .lnr {
        display: inline;
      }
    }
    .nav-text {
      display: none;
    }
    .show-menu {
      display: none;
    }
  }
  @media #{$medium-screen} {
    ul {
      width: 970px;

      a {
        font-size: 1.6em;
        line-height: 2.6;
      }
    }
  }
  @media #{$large-screen} {
    ul {
      width: 1170px;
    }
  }
}
@media #{$small-screen} {
  nav {
    background: $dark-color;
  }
}


// Prefooter
.prefooter {
  background: $secondary-color;
  color: $main-color;
  text-align: center;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }
  .slanted {
    @extend .slanted;
    background: $darker-secondary-color;
    width: 577px;
    margin-left: -15%;
  }

}

// Footer
footer {
  //background: $light-color;
  background: rgba(0, 0, 0, 0.5);
  color: $main-color;
  position: relative;
  text-align: center;
    .simple-primary-btn {
        border-color: white;
        color: white;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
    }

    .simple-primary-btn:hover::after {
        height: 1000%;
        opacity: 1;
        transition: 0.5s;
    }

    .simple-primary-btn:hover {
        border-color: $primary-color;
        transition: 0.5s;
    }

    .simple-primary-btn:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 0;
        opacity: 0;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        background-color: $primary-color;
        transition: 0.5s;
    }

    .color {
        color: white;
        transition: 0.2s;
    }
    .color:hover {
        color: $primary-color;
        transition: 0.2s;
    }
  img {
    height: 45px;
    width: auto;
  }
  .col-x {
    margin-bottom: 0;

    p {
      font-size: 0.93em;
      font-style: italic;
      margin-bottom: 20px;
      text-align: left;
    }
  }
  .contact {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    vertical-align: top;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .end-footer {
    background: $dark-color;
    color: $main-color;
    padding: 10px 15px;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    z-index: 1;
    a {
      color: $main-color;
    }
  }
  .lnr {
    position: relative;
    bottom: 1px;
  }
  .logo-imac {
    display: none;
  }
  .slanted {
    background: rgba(0, 0, 0, 0.5);
  }
  .social-media {
    margin-top: 20px;
  }
  .title-2 {
    margin-bottom: 0;
    text-align: left;
  }
  .useful-informations {
    //color: $dark-color;
    color: white;
    margin-bottom: 20px;
  }
  .useful-links {
    margin: 5px 0 20px 0;
  }
  .col-3:first-of-type {
    text-align: left;
  }
  .col-3:last-of-type {
    text-align: right;
  }
  .col-2,
  .col-3 {
    margin-bottom: 0;
  }
  @media #{$small-screen} {
    .col-x {
      margin-bottom: 0;
      //text-align: center;
      width: 34%;
    }
    .logo-imac {
      display: inline-block;
      height: 85px;
      width: auto;
    }
    .slanted {
      width: 725px;
    }
    .social-media {
      display: inline-block;
      margin-left: 40px;
    }
    .useful-informations {
      float: right;
      margin-bottom: 0;
      text-align: left;
      width: 50%;
      a {
        margin-right: 20px;
      }
      .col-3:nth-of-type(3) {
        text-align: center;
      }
      .col-3:last-of-type {
        text-align: right;
      }
    }
  }
  @media #{$medium-screen} {
    .col-3 {
      width: 33.33333%;
    }
    .slanted {
      width: 725px;
    }
    .useful-informations {
      width: 55%;
    }
  }
}
@media #{$small-screen} {
  footer {
    //background: $light-color;
    background-color: rgba(0,0,0,0.5);
  }
}
