// =============================================================================
// Specific to certain pages
// =============================================================================

// PAGES DEBOUCHÉS

.activity-sectors-title {
    background-color: white;
    display: inline-block;
    margin: 0.5em;
    width: auto;
    text-align: center;
    border: 1px solid $secondary-color;
    font-style:normal;
    cursor: pointer;
    transition: 0.5s;
}

@media (min-width: 1200px){
    .activity-sectors-title + .activity-sectors-title {
        margin-left: 0;
    }
}

.activity-sectors-title.selected {
    background-color: $secondary-color;
    color: white;
    transition: all 0.2s;
}
.activity-panel-container {
    text-align: center;
}

.activity-panel.selected {
    display: block;
    transition: all 0.5s;
}

.activity-panel {
    margin-top: 1em;
    position: relative !important;
    width: 70%;
    display: none;
    transition: 0.5s;
}

.activity-panel-title {
    background: #fff;
    display: block;
    font: 1.5em Bebas, sans-serif;
    color: $secondary-color;
    margin: auto !important;
    width:inherit;
    padding: 0;
    margin-top: -2em !important;
    margin-bottom: 1em !important;
}

.activity-panel-text {
    font-size: 1.3em;
}

// SLIDER PROMOTION
//TODO : RESPONSIVE

.select_year {
    //METTRE EN FORME LE BOUTON
    width: 100%;
    text-align: center;
    margin: 20px;
}

.promo-arrow {
    display:inline-block;
    vertical-align: middle;
    font-size: 5em;
    cursor: pointer;
}

.master-promo {
    display: inline-flex;
    vertical-align: middle;
    width: 640px;
    overflow: hidden;
}

.inner-promo {
    display: inline-block;
    min-width: 640px;
}

.ctn-img-promo {
    text-align: center;
}

.ctn-img-promo img {
    display: inline-block;
    vertical-align: middle;
    width: 640px;
}


//TODO : IL VA FALLOIR CLEAN CETTE FEUILLE A UN MOMENT

.img-banner {
  background: $medium-color;
  background-size: cover !important;
  color: $main-color;
  position: relative;

  p {
    font-size: 1.2em;
    font-weight: normal;
  }
  .col-x {
    @include vertical-align();
    width: 460px;
  }
  .container {
    @include box-sizing(border-box);
    height: 435px;
    position: relative;
    z-index: 1;
  }
  @media #{$small-screen} {
    .slanted {
      background: rgba(0, 0, 0, 0.25);
      width: 725px;
    }
  }
  @media #{$medium-screen} {
    .slanted {
      width: 815px;
    }
  }
  @media #{$large-screen} {
    .slanted {
      width: 875px;
    }
  }
}

.testi-picture {
  border-radius: 50%;
  height: 160px;
  width: auto;
}
.testi-body {
}

.testi-role {
  font-weight: normal;
}

.testimonial {
  text-align: center;
}

.testi-arrow {
    font-size: 5em;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.testi-arrow-left {
    padding-right: 50px;
}

.testi-arrow-right {
    padding-left: 50px;
}

.ctn-testimonial {
    min-width: 920px;
    display: inline-flex;
    vertical-align: top;
}

.inner-testimonial {
    display: table;
}

.master-testimonial {
    width: 920px;
    display:flex;
    overflow: hidden;
}

@media #{$small-screen} {
  .testi-picture {
    display: table-cell;
  }
  .testi-body {
    display: table-cell;
    padding-left: 70px;
    vertical-align: middle;
  }

  .testi-role {
    font-weight: normal;
  }
  .testimonial {
    display: table;
    margin: 15px auto 0 auto;
    text-align: left;
    width: 920px;
  }
}


.subnav {
  background: $light-color;
  @include box-sizing(border-box);
	clear: both;
  height: 50px;
  width: 100%;

  ul {
    a {
    	color: $dark-color;
    	border-bottom: transparent 3px solid;
    	@include box-sizing(border-box);
    	display: inline-block;
      font-size: 1.2em;
      font-weight: normal;
    	height: 50px;
      line-height: 2.9;
    }
    a:hover, .active {
    	border-color: $primary-color;
    }
  }
  li {
    display: inline-block;
  }
  @media #{$small-screen} {
    ul {
      margin: auto;
      width: 750px;
    }
    li {
      margin: 0 14px;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }
  @media #{$medium-screen} {
    ul {
      width: 970px;
    }
    li {
      margin: 0 23px;
    }
  }
  @media #{$large-screen} {
    ul {
      width: 1170px;
    }
    li {
    	margin: 0 20px;
    }
  }
}

.strong-framed {
  @include box-sizing(border-box);
  border: $main-color 4px solid;
  padding: 7px 20px 20px 20px;
  position: relative;
  margin: 20px auto 0 auto;
  z-index: 50;
  p {
    text-align: left;
  }
  .lead {
    font-weight: normal;
  }
  .title-3 {
    margin-bottom: 0;
  }
  .year {
    background: $light-color;
    display: inline;
    font-size: 0.94em;
    font-style: italic;
    font-weight: 500;
    margin: auto;
    left: 50%;
    padding: 0 15px;
    position: absolute;
    transform: translateX(-50%);
    top: -12px;
    z-index: -50;
  }
  .framed-3 {
    border: $medium-color 1px solid;
  }
}
@media #{$small-screen} {
  .strong-framed {
    display: inline-block;
  }
  .framed-content {
    margin: auto;
    width: 550px;
  }
}

@media #{$medium-screen} {
  .framed-3 {
    float: left;
    width: 32% !important;
  }
  .framed-3 + .framed-3 {
    margin-left: 2%;
  }
}

.secondary-color-framed {
  @include box-sizing(border-box);
  border: $secondary-color 1px solid;
  padding: 0 4% 4% 4%;
  position: relative;
  margin-top: 20px;
  z-index: 1;

  @media #{$small-screen} {
    .secondary-color-framed {
      float: left;
      font-size: 0.93em;
      //margin: 20px auto 30px auto;
      padding: 0 15px 10px 15px;
      width: 40%;
    }
    .secondary-color-framed + .secondary-color-framed {
      margin-left: 20%;
    }
  }

  .secondary-color-framed-title {
    background: $main-color;
    color: $secondary-color;
    display: inline;
    font-size: 0.94em;
    font-style: italic;
    margin: auto;
    left: 50%;
    padding: 0 15px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    top: -10px;
    z-index: -1;
  }
}


//========================
// PROJECTS
//========================
.project {
  text-align: center;
  h3 {
    text-align: left;
  }
  img {
    margin: 15px 0 5px 0;
  }
}
// .tag {
//   border: $medium-color 1px solid;
//   color: $medium-color;
//   display: inline-block;;
//   font-size: 0.8em;
//   font-weight: normal;
//   margin: 10px 0;
//   padding: 2px 4px;
// }
.tag {
  background: $main-color;
  color: $medium-color;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 5px 0;
  padding: 2px 10px;
}

.grid-cell {
  padding: 15px;
  img {
    display: block;
    margin: 0 auto;
  }
}
.grid-cell:nth-child(odd) {
  background: red;
}
.grid-cell:nth-child(even) {
  background: $light-color;
}
@media #{$medium-screen} {
  .grid {
    flex-wrap: wrap;
    display: flex;
  }
  .grid-cell {
    @include box-sizing(border-box);
    margin: 5px;
    width: 30%;
  }
}
.close {
  background: $main-color;
  border: $light-color 1px solid;
  color: $primary-color;
  display: inline-block;
  font-size: 3em;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 15px;
}
.project-item {
  .lnr {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -5px;
    text-align: center;
    vertical-align: top;
    width: 30px;
  }
}
@media #{$medium-screen} {
  .project-item-content + .project-item-content {
    margin-left: 100px;
  }
}
.project-item {
  margin-top: 30px;
}

.project-item-content {
  display: inline-block;
  vertical-align: top;
}
