// =============================================================================
// Specific to certain pages
// =============================================================================


//========================
// TESTIMONIALS
//========================
.slider-arrow {
  color: $medium-color;
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  top: 100px;
}
.slider-arrow:hover,
.arrow:hover {
  color: $primary-color;
}
.slider-arrow-left {
  left: 0;
}
.slider-arrow-right {
  right: 0;
}
.testimonial {
  position: relative;
  ul {
    align-items: center;
    display: flex;
    li {
      list-style: none;
      margin: 0;
      overflow: hidden;
      //padding: 0 10px;
      .title-4, .testi-role {
        text-align: center;
      }
      .people-picture {
        flex-basis: 160px;
        height: 160px;
        margin: 0 auto;
        min-width: 160px;
        width: 160px;
      }
      .testi-role {
         font-weight: normal;
      }
    }
  }
  .testi-show {
    overflow: hidden !important;
  }
  .gallery {
    img {
      @include box-sizing(border-box);
      margin: $spacing-unit/4 5px 0 5px;
    }
    .slider-arrow-left {
      left: -8.33333333%;
    }
    .slider-arrow-right {
      right: -8.33333333%;
    }
  }
  @media #{$small-screen} {
    ul {
      li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin: 0;
        .title-4, .testi-role {
          text-align: left;
        }
      }
    }
    .gallery {
      display: flex;
      justify-content: center;
      height: 125px;
      width: calc(100% - 20px);
      overflow: hidden;
      img {
        height: 100%;
        margin-top: $spacing-unit/4;
        width: auto;
      }
    }
    .slider-arrow-left {
      left: -8.33333333%;
      top: calc(50% - 22px);
    }
    .slider-arrow-right {
      right: -8.33333333%;
      top: calc(50% - 22px);
    }
    .testi-body {
      width: calc(100% - 8.33333333% - 160px);
    }
    .testi-picture {
      vertical-align: middle;
    }
  }
  @media #{$medium-screen} {
    .gallery {
      height: 150px;
    }
  }
  @media #{$large-screen} {
    .gallery {
      height: 200px;
    }
  }
}


//========================
// SUBNAV
//========================
.subnav {
  background: $light-color;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      list-style: none;
      margin: 0;
      text-align: center;
      width: 50%;
      a {
        color: $dark-color;
        font-size: 1.2em;
        height: 50px;
        line-height: 2.7;
        transition: 0.5s;
        width: 100%;
      }
      a:hover, .active {
        background: $primary-color;
        color: $main-color;
      }
    }
  }
  @media #{$small-screen} {
    ul {
      margin: auto;
      width: 750px;
      li {
        width: auto;
        a {
          padding: 0 $spacing-unit/2;
        }
      }
    }
  }
  @media #{$medium-screen} {
    ul {
      width: 970px;
    }
  }
  @media #{$large-screen} {
    ul {
      width: 1170px;
    }
  }
}


//========================
// PRESENTATION
//========================
.strong-framed {
  @include box-sizing(border-box);
  border: $main-color 4px solid;
  padding: 7px 20px 20px 20px;
  position: relative;
  margin: 20px auto 0 auto;
  z-index: 50;
  p {
    text-align: left;
  }
  .lead {
    font-weight: normal;
  }
  .title-2 {
    text-align: center;
  }
  .title-3 {
    margin-bottom: 0;
  }
  .year {
    background: $light-color;
    display: inline;
    font-size: 0.94em;
    font-style: italic;
    font-weight: 500;
    margin: auto;
    left: 50%;
    padding: 0 15px;
    position: absolute;
    transform: translateX(-50%);
    top: -12px;
    z-index: -50;
  }
  .framed-3 {
    border: $medium-color 1px solid;
  }
  .tag {
    background: $main-color;
    border: none;
    margin: 5px 10px 5px 0;
    padding: 2px 10px;
  }
}

@media #{$small-screen} {
  .strong-framed {
    display: inline-block;
  }
  .framed-content {
    margin: auto;
    width: 550px;
  }
}
@media #{$medium-screen} {
  .framed-3 {
    float: left;
    width: 32% !important;
  }
  .framed-3 + .framed-3 {
    margin-left: 2%;
  }
}


//========================
// ADMISSION
//========================
.secondary-color-framed {
  @include box-sizing(border-box);
  border: $secondary-color 1px solid;
  display: flex;
  flex-wrap: wrap;
  padding: 0 $spacing-unit/3 $spacing-unit/3 $spacing-unit/3;
  position: relative;
  margin-top: $spacing-unit/2;
  width: 100%;
  z-index: 1;
  .secondary-color-framed-title {
    background: $main-color;
    color: $secondary-color;
    display: inline;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    font-size: 0.94em;
    font-style: italic;
    margin: auto;
    padding: 0 15px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    z-index: -1;
  }
  .bottom {
      top: 100%;
  }
  p {
    margin-top: $spacing-unit/3;
  }
  @media #{$small-screen} {
    .secondary-color-framed {
      font-size: 0.93em;
      padding: 0 15px 10px 15px;
      width: calc(50% - 15px);
    }
    .secondary-color-framed + .secondary-color-framed {
      margin-left: $spacing-unit/2;
    }
  }
}


//========================
// OPENINGS
//========================
.activity-sectors-title {
    background: $main-color;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin: 5px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}
.activity-sectors-title:hover {
    background: initial;
}
.activity-sectors-title.selected {
    background: $secondary-color;
    color: $main-color;
}
.activity-panel {
    width: 100%;
    display: none;
    transition: 0.5s;
}
.activity-panel.selected {
    display: block;
    margin-top: $spacing-unit/2;
    transition: 0.5s;
}
.activity-panel-title {
    background: $light-color;
    color: $secondary-color;
    display: block;
    font: 1.5em $title-font-stack;
    margin: -2em auto 1em auto !important;
    width: 70%;
}
.activity-panel-text {
    font-size: 1.3em;
}


//========================
// STAFF
//========================
.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & + .title-2 {
    margin-top: $spacing-unit;
  }
  h3 {
    font: 1.3em $title-font-stack;
  }
  .lnr {
    bottom: -5px;
    font-size: 1.5em;
    margin-right: 10px;
    position: relative;
  }
  .icon-linkedin-rect {
    font-size: 0.8em;
  }
}
.people-picture {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
.staff-member {
  align-items: center;
  background: $light-color;
  @include box-sizing(border-box);
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0 10px;
  padding: 20px;
  width: 250px;
  h3 {
    margin-top: 20px;
  }
  .people-picture {
    height: 110px;
    width: 110px;
  }
  .role {
    font-size: 1.1em;
    text-align: center;
  }
}
@media #{$small-screen} {
  .people:after {
    content: "";
    flex: auto;
  }
  .staff-member {
    justify-content: space-between;
    margin: 20px 20px 0 0;
    width: calc(33.33333333% - 13.33333333px);
  }
  .staff-member:nth-child(3n) {
    margin-right: 0;
  }
}


//========================
// PROJECTS
//========================
.main-filter {
  border: $primary-color 1px solid;
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 110px;
}
.main-filter:hover {
  cursor: pointer;
  background: $primary-color;
  color: $main-color;
  transition: 0.5s;
}
.main-selected-filter {
  background: $primary-color;
  color: $main-color;
}
.project-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.project {
  flex-basis: 100%;
  margin-top: $spacing-unit/2;

  .img-project {
    position: relative;
    img {
      @include box-sizing(border-box);
      border: 1px solid $light-color;
      display: block;
    }
    .hover-img-project {
      display: flex;
      @include box-sizing(border-box);
      background-color: rgba(0,0,0,0.5);
      border: 1px solid $light-color;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
        top: 0;
        left: 0;
      text-align: center;
      transition-duration: 0.5s;
      width: 100%;
      span {
        font-size: 2.5em;
      }
    }
  }
  .img-project:hover .hover-img-project {
    opacity: 1;
  }
}
.tag {
  border: $medium-color 1px solid;
  color: $medium-color;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  padding: 2px 4px;
}
.important-tag {
  border: $secondary-color 1px solid;
  color: $secondary-color;
}
@media #{$small-screen} {
    .project {
        flex-basis: 48%;
    }
}
@media #{$medium-screen} {
    .project {
        flex-basis: 32%;
    }
}


//========================
// STUDENTS PAGE
//========================
.select-year {
  margin: 20px 0;
  select {
    @include box-sizing(border-box);
    border: 1px $primary-color solid;
    border-radius: 0;
    display: block;
    font: 1.8em $title-font-stack;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%;
  }
  @media #{$small-screen} {
    select {
      margin: 0 auto;
      width: 350px;
    }
  }
}
.arrow {
  display: none;
}
.slider {
  overflow: hidden;
  position: relative;
}
.slide {
  float: left;
  .col-9 {
    margin-bottom: $spacing-unit/1.5;
  }
}
.student {
  background: $light-color;
  @include box-sizing(border-box);
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0 10px;
  padding: 10px;
  width: 250px;
  .people-picture {
    height: 80px;
    margin-right: 10px;
    width: 80px;
  }
}
.student-info {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 90px);
  justify-content: space-between;
  text-align: right;
  h3 {
    font: 1.3em $title-font-stack;
  }
  .lnr {
    bottom: -5px;
    font-size: 1.5em;
    margin-right: 10px;
    position: relative;
  }
  .icon-linkedin-rect {
    font-size: 0.8em;
  }
}
@media #{$small-screen} {
  .arrow {
    cursor: pointer;
    display: inline;
    font-size: 3em;
    position: absolute;
    top: 5%;
    transition: 0.2s;
  }
  .arrow:hover {
    color: $primary-color;
  }
  .arrow-right {
    right: 0;
  }
  .blank {
    height: 200px;
  }
  .students:after {
    content: "";
    flex: auto;
  }
  .student {
    margin: 20px 20px 0 0;
    width: calc(33.33333333% - 13.33333333px);
  }
  .student:nth-child(3n) {
    margin-right: 0;
  }
}
@media #{$medium-screen} {
  .arrow {
    top: 10%;
  }
  .student {
    width: calc(25% - 15px);
  }
  .student:nth-child(3n) {
    margin-right: 20px;
  }
  .student:nth-child(4n) {
    margin-right: 0;
  }
}


//========================
// STUDENT LIFE PAGE
//========================
.association {
  .title-3 {
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
    width: initial;
  }
}
.association:nth-child(even) {
  background: $light-color;
}


//========================
// INTERNATIONAL PAGE
//========================
.full-framed {
  display: none;
  margin: $spacing-unit 0;
  width: 100%;
}
.full-framed.selected {
  display: block;
}
#vmap {
  width: 100%;
  height: auto;
  height: 500px;
}

//========================
// PARTNERSHIP PAGE
//========================
.grid {
  margin-top: $spacing-unit;
}
.grid-cell {
  @include box-sizing(border-box);
  padding: 25px 15px;
  margin: auto;
  width: 316px;
  img {
    display: block;
    margin: auto;
    max-height: 110px;
    padding-bottom: 15px;
    width: auto;
  }
}
.grid-cell:nth-child(odd) {
  background: rgb(247,247,247);
}
.grid-cell:nth-child(even) {
  background: $light-color;
}
@media #{$small-screen} {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-cell {
    margin: 5px;
    width: -webkit-calc(50% - 10px);
    width:         calc(50% - 10px);
  }
  .grid-cell:nth-child(n) {
    background: rgb(247,247,247);
  }
  .grid-cell:nth-child(4n+2),
  .grid-cell:nth-child(4n+3){
    background: $light-color;
  }
  .valign-content {
    @include vertical-align();
  }
}
@media #{$medium-screen} {
  .grid-cell {
    width: -webkit-calc(33.33333333% - 10px);
    width:         calc(33.33333333% - 10px);
  }
  .grid-cell:nth-child(odd) {
    background: rgb(247,247,247);
  }
  .grid-cell:nth-child(even) {
    background: $light-color;
  }
}


//========================
// CONTACT PAGE
//========================
.social-icons {
  margin-top: 10px;
}
#map {
  width: 100%;
  height: 500px;
}



// Timer JPO

.timerjpo {
    padding: 2em;
    background-color: $secondary-color;
    color: white;
    text-align: center;

    p {
        font-size: 1.5em;
    }
}






// BANNER WITH IMAGE
.color-banner {
  background: $medium-color;
}
.img-banner {
  background-size: cover !important;
  color: $main-color;
  position: relative;
  p {
    font-size: 1.2em;
    font-weight: normal;
  }
  .col-x {
    margin-bottom: 0;
  }
  .container {
    @include box-sizing(border-box);
    position: relative;
    z-index: 1;
  }
  @media #{$small-screen} {
    .col-x {
      @include vertical-align();
      width: 460px;
    }
    .container {
      height: 435px;
    }
    .slanted {
      background: rgba(0, 0, 0, 0.25);
      width: 725px;
    }
  }
  @media #{$medium-screen} {
    .slanted {
      width: 815px;
    }
  }
  @media #{$large-screen} {
    .slanted {
      width: 875px;
    }
  }
}
@media #{$small-screen} {
  .color-banner {
    background: none;
  }
}






.close {
  background: $main-color;
  border: $light-color 1px solid;
  color: $primary-color;
  display: inline-block;
  font-size: 3em;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 15px;
}

.project-item {
  .lnr {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -5px;
    text-align: center;
    vertical-align: top;
    width: 30px;
  }
}
@media #{$medium-screen} {
  .project-item-content + .project-item-content {
    margin-left: 100px;
  }
}
.project-item {
  margin-top: 30px;
}

.project-item-content {
  display: inline-block;
  vertical-align: top;
}
