// =============================================================================
// Generic styles all pages use
// =============================================================================

a {
  color: $primary-color;
  font-weight: normal;
}
blockquote {
  font-style: italic;
  margin: 0 40px;
  padding: 1.5% 0;
  position: relative;
  text-align: left;
}
blockquote:before {
  content: "\201C";
  font-size: 7em;
  font-style: normal;
  position: absolute;
    left: -40px;
    top: -20px;
}
blockquote:after {
  content: "\201D";
  font-size: 7em;
  font-style: normal;
  position: absolute;
    right: -40px;
    bottom: -20px;
}
em {
  font-style: italic;
}
iframe {
  height: auto;
  width: 100%;
}
img {
  height: auto;
  width: 100%;
}
p + p {
  margin-top: 10px;
}
p + ul {
  margin-top: 0;
}
ul + p {
  margin-top: 10px;
}
strong {
  font-weight: bold;
}
.center {
  clear: both;
  text-align: center;
}
.color {
  color: $primary-color;
}
.framed {
  @include box-sizing(border-box);
  border: $light-color 1px solid;
  font-size: 0.93em;
  padding: 30px 15px 10px 15px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px auto 30px auto;
  width: 235px;
  z-index: 1;
  p {
    margin: 0;
    text-align: center;
  }
  .big-number {
    background: $main-color;
    display: inline;
    font: bold 4.6em $title-font-stack;
    margin: auto;
    left: 50%;
    padding: 0 10px;
    position: absolute;
    transform: translateX(-50%);
    top: -35px;
    z-index: -1;
  }
}
.light-row .framed {
  border-color: $main-color;
  .big-number {
    background: $light-color;
  }
}
@media #{$small-screen} {
  .framed {
  }
}
@media #{$medium-screen} {
  .framed {
    float: left;
  }
  .framed + .framed {
    margin-left: 62px;
  }
}
@media #{$large-screen} {
  .framed + .framed {
    margin-left: 141px;
  }
}

.lead, .lead:last-of-type {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.light-row {
  background: $light-color;
}
.circle {
  background: $light-color;
  border-radius: 50%;
  border: $main-color 4px solid;
  height: 20px;
  margin: auto;
  position: absolute;
    top: 35%;
    left: 50%;
  transform: translateX(-50%);
  width: 20px;
  z-index: 1;
}
.ligne {
  background: $main-color;
  height: 65px;
  margin: auto;
  position: relative;;
  width: 4px;
}
