// =============================================================================
// Generic styles all pages use
// =============================================================================

a {
  color: $primary-color;
  font-weight: normal;
}
blockquote {
  font-style: italic;
  margin: 0 40px;
  padding: 1.5% 0;
  position: relative;
  text-align: left;
}
blockquote:before {
  content: "\201C";
  font-size: 7em;
  font-style: normal;
  position: absolute;
    left: -40px;
    top: -20px;
}
blockquote:after {
  content: "\201D";
  font-size: 7em;
  font-style: normal;
  position: absolute;
    right: -40px;
    bottom: -20px;
}
em {
  font-style: italic;
}
iframe {
  height: auto;
  width: 100%;
}
img {
  height: auto;
  width: 100%;
}
p {
  margin-bottom: 10px;
}
p:last-of-type {
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
.center {
  clear: both;
  text-align: center;
}
.color {
  color: $primary-color;
}
.framed {
  border: $light-color 1px solid;
  padding: 10px 20px;
}
.lead, .lead:last-of-type {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.light-row {
  background: $light-color;
}
