.login {
    margin-top: 100px;
    margin-left: -210px;
}

.container {
    margin-top: 10px;
}

.menu {
    width: 200px;
    position: fixed;
}

section {
    margin-left: 210px;
}

.url_photo_student {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin: 10px;
}

.ctn-image-gallery {
    position: relative;
    display: inline-block;
}

.remove-image {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

.tags {
    margin-top: 5px;
}

.tag {
    margin-left: 5px;
}
