@charset "UTF-8";
@viewport {
  width: device-width;
  /* largeur du viewport */
  zoom: 1;
  /* zoom initial ├á 1.0 (et clin d'oeil aux fans d'IE6/7) */ }
html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font-weight: normal;*/
  text-decoration: none;
  vertical-align: baseline; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-it-webfont.eot");
  src: url("../fonts/sourcesanspro-it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-it-webfont.woff") format("woff"), url("../fonts/sourcesanspro-it-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-it-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-lightit-webfont.eot");
  src: url("../fonts/sourcesanspro-lightit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-lightit-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-lightit-webfont.woff") format("woff"), url("../fonts/sourcesanspro-lightit-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-lightit-webfont.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../sourcesanspro-semiboldit-webfont.eot");
  src: url("../sourcesanspro-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../sourcesanspro-semiboldit-webfont.woff2") format("woff2"), url("../sourcesanspro-semiboldit-webfont.woff") format("woff"), url("../sourcesanspro-semiboldit-webfont.ttf") format("truetype"), url("../sourcesanspro-semiboldit-webfont.svg") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue_regular-webfont.eot");
  src: url("../fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebasneue_regular-webfont.ttf") format("truetype"), url("../fonts/bebasneue_regular-webfont.svg") format("svg");
  font-weight: normal; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue_book-webfont.eot");
  src: url("../fonts/bebasneue_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_book-webfont.woff2") format("woff2"), url("../fonts/bebasneue_book-webfont.woff") format("woff"), url("../fonts/bebasneue_book-webfont.ttf") format("truetype"), url("../fonts/bebasneue_book-webfont.svg") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue_bold-webfont.eot");
  src: url("../fonts/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff"), url("../fonts/bebasneue_bold-webfont.ttf") format("truetype"), url("../fonts/bebasneue_bold-webfont.svg") format("svg");
  font-weight: bold; }
body {
  background: #fff;
  color: #333;
  font: 300 15px "Open Sans Pro", sans-serif;
  letter-spacing: 0.02em; }

h1 {
  font: 300 3.4em Bebas, sans-serif; }

.title-1 {
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center; }

.title-2 {
  font: 300 2em Bebas, sans-serif;
  margin-bottom: 15px; }

.title-3 {
  font: 300 1.5em Bebas, sans-serif;
  margin-bottom: 15px; }

.title-4 {
  font-size: 1.4em;
  font-weight: bold;
  text-align: left; }

.title-5 {
  font: 300 1.5em Bebas, sans-serif; }

.lnr + .title-3 {
  margin-top: 30px; }

p + .title-5 {
  margin-top: 20px; }

ul li {
  list-style: disc;
  margin-left: 40px; }

.container,
.container-fluid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 60px 15px 60px 15px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

.center-block {
  display: block;
  float: none;
  margin: auto; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.container:before,
.clearfix:after,
.container:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after,
.container:after {
  clear: both; }

.row-offset {
  margin-top: 30px; }

@media (min-width: 768px) {
  .container {
    width: 750px; }

  .col-12 {
    width: 100%; }

  .col-11 {
    width: 91.66666667%; }

  .col-10 {
    width: 83.33333333%; }

  .col-9 {
    width: 75%; }

  .col-8 {
    width: 66.66666667%; }

  .col-7 {
    width: 58.33333333%; }

  .col-6 {
    width: 50%; }

  .col-5 {
    width: 41.66666667%; }

  .col-4 {
    width: 33.33333333%; }

  .col-3 {
    width: 25%; }

  .col-2 {
    width: 16.66666667%; }

  .col-1 {
    width: 8.33333333%; }

  .col-margin-05 {
    margin: 0 4.16666667%; }

  .col-offset-1 {
    margin-left: 8.33333333%; }

  .col-offset-2 {
    margin-left: 16.66666667% !important; }

  .middle-valign-ib {
    display: inline-block;
    float: none;
    vertical-align: middle; }

  .flex-parent {
    display: flex;
    align-items: stretch; }

  .flex-parent-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 25px; }

  .flex-description {
    flex-grow: 1;
    text-align: left;
    width: 100%; }

  .row-offset {
    margin-top: 0; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.ariane {
  border-bottom: #dadbd9 1px solid;
  border-top: #dadbd9 1px solid;
  color: #848484;
  font-size: 0.93em; }
  .ariane .container {
    padding-bottom: 4px;
    padding-top: 4px; }

header {
  display: none; }

@media (min-width: 768px) {
  header {
    background: #f7f7f7;
    display: block;
    position: relative; }
    header a {
      color: #333;
      z-index: 1000; }
    header img {
      display: inline-block;
      height: 70px;
      vertical-align: middle;
      width: auto; }
    header .container {
      padding: 15px;
      position: relative;
      z-index: 1; }
    header .header-titles {
      display: inline-block;
      line-height: 0.5;
      margin-left: 30px;
      vertical-align: middle; }
      header .header-titles p {
        margin-top: 0; }
    header .title-2 {
      margin-bottom: 0; } }
nav {
  background: #f7f7f7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  height: 60px;
  width: 100%; }
  nav img {
    height: 100%;
    width: auto; }
  nav .header-titles {
    display: inline; }
  nav span {
    vertical-align: middle; }
  nav ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #333;
    display: none;
    padding: 0 15px;
    position: static; }
    nav ul a {
      color: #fff;
      border-bottom: transparent 3px solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      font: bold 1.6em Bebas, sans-serif;
      height: 60px;
      letter-spacing: 0.04em;
      line-height: 2.9;
      width: 100%; }
    nav ul a:hover, nav ul .active {
      border-color: #50d33d;
      color: #50d33d; }
    nav ul li {
      width: 100%; }
    nav ul .lnr {
      display: none; }
  nav label {
    position: absolute;
    right: 0; }
  nav .show-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    color: #333;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 10px 15px;
    vertical-align: middle; }
    nav .show-menu .lnr {
      font-size: 3em; }
  nav .show-menu:hover {
    color: #50d33d; }
  nav input[type=checkbox] {
    display: none; }
  nav input[type=checkbox]:checked ~ ul {
    display: block;
    position: relative;
    z-index: 1000; }
  nav input[type=checkbox]:checked ~ .show-menu {
    color: #50d33d; }
  @media (min-width: 768px) {
    nav .header-titles {
      display: none; }
    nav input[type=checkbox]:checked ~ ul {
      display: flex; }
    nav ul {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 750px; }
      nav ul a {
        font-size: 1.2em;
        height: 60px;
        line-height: 3.5;
        width: auto; }
      nav ul li {
        margin-left: 0;
        width: auto; }
      nav ul .lnr {
        display: inline; }
    nav .nav-text {
      display: none; }
    nav .show-menu {
      display: none; } }
  @media (min-width: 992px) {
    nav ul {
      width: 970px; }
      nav ul a {
        font-size: 1.6em;
        line-height: 2.6; } }
  @media (min-width: 1200px) {
    nav ul {
      width: 1170px; } }

@media (min-width: 768px) {
  nav {
    background: #333; } }
.prefooter {
  background: #f73c3c;
  color: #fff;
  text-align: center;
  position: relative; }
  .prefooter .container {
    position: relative;
    z-index: 1; }
  .prefooter .slanted {
    background: #ed2626;
    width: 577px;
    margin-left: -15%; }

footer {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  text-align: center; }
  footer .simple-primary-btn {
    border-color: white;
    color: white;
    position: relative;
    overflow: hidden;
    transition: 0.5s; }
  footer .simple-primary-btn:hover::after {
    height: 1000%;
    opacity: 1;
    transition: 0.5s; }
  footer .simple-primary-btn:hover {
    border-color: #50d33d;
    transition: 0.5s; }
  footer .simple-primary-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    opacity: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-color: #50d33d;
    transition: 0.5s; }
  footer .color {
    color: white;
    transition: 0.2s; }
  footer .color:hover {
    color: #50d33d;
    transition: 0.2s; }
  footer img {
    height: 45px;
    width: auto; }
  footer .col-x {
    margin-bottom: 0; }
    footer .col-x p {
      font-size: 0.93em;
      font-style: italic;
      margin-bottom: 20px;
      text-align: left; }
  footer .contact {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    vertical-align: top; }
  footer .container {
    position: relative;
    z-index: 1; }
  footer .end-footer {
    background: #333;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    z-index: 1; }
    footer .end-footer a {
      color: #fff; }
  footer .lnr {
    position: relative;
    bottom: 1px; }
  footer .logo-imac {
    display: none; }
  footer .slanted, footer .prefooter .slanted, .prefooter footer .slanted {
    background: rgba(0, 0, 0, 0.5); }
  footer .social-media {
    margin-top: 20px; }
  footer .title-2 {
    margin-bottom: 0;
    text-align: left; }
  footer .useful-informations {
    color: white;
    margin-bottom: 20px; }
  footer .useful-links {
    margin: 5px 0 20px 0; }
  footer .col-3:first-of-type {
    text-align: left; }
  footer .col-3:last-of-type {
    text-align: right; }
  footer .col-2,
  footer .col-3 {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    footer .col-x {
      margin-bottom: 0;
      width: 34%; }
    footer .logo-imac {
      display: inline-block;
      height: 85px;
      width: auto; }
    footer .slanted, footer .prefooter .slanted, .prefooter footer .slanted {
      width: 725px; }
    footer .social-media {
      display: inline-block;
      margin-left: 40px; }
    footer .useful-informations {
      float: right;
      margin-bottom: 0;
      text-align: left;
      width: 50%; }
      footer .useful-informations a {
        margin-right: 20px; }
      footer .useful-informations .col-3:nth-of-type(3) {
        text-align: center; }
      footer .useful-informations .col-3:last-of-type {
        text-align: right; } }
  @media (min-width: 992px) {
    footer .col-3 {
      width: 33.33333%; }
    footer .slanted, footer .prefooter .slanted, .prefooter footer .slanted {
      width: 725px; }
    footer .useful-informations {
      width: 55%; } }

@media (min-width: 768px) {
  footer {
    background-color: rgba(0, 0, 0, 0.5); } }
input[type="text"],
input[type="email"],
textarea {
  border: #333 1px solid;
  padding: 5px 10px;
  width: 100%; }

input + input {
  margin-bottom: 10px; }

.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent 1px solid;
  display: inline-block;
  font-style: italic;
  font-weight: normal;
  margin: 30px 5px 0 5px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  text-align: center;
  width: 225px; }

.btn:after {
  content: '';
  height: 1000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition-duration: 0.5s;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 100%;
  z-index: -1; }

.filled-btn {
  color: #fff; }

.filled-btn::after {
  opacity: 1; }

.filled-btn:hover:after {
  height: 0;
  opacity: 0; }

.filling-btn::after {
  height: 0;
  opacity: 0; }

.filling-btn:hover:after {
  height: 1000%;
  opacity: 1; }

.primary-btn {
  color: #fff;
  border-color: #50d33d; }

.primary-btn::after {
  background: #50d33d; }

.primary-btn:hover {
  color: #50d33d; }

.white-primary-btn {
  border-color: #fff;
  color: #50d33d; }

.white-primary-btn::after {
  background: #fff; }

.white-primary-btn:hover {
  color: #fff; }

.simple-primary-btn {
  border-color: #50d33d;
  color: #50d33d; }

.simple-primary-btn::after {
  background: #fff; }

.simple-primary-btn:hover {
  color: #50d33d; }

.white-secondary-btn {
  border-color: #fff;
  color: #f73c3c; }

.white-secondary-btn::after {
  background: #fff; }

.white-secondary-btn:hover {
  color: #fff; }

.simple-secondary-btn {
  border-color: #fff;
  color: #fff; }

.simple-secondary-btn::after {
  background: #fff; }

.simple-secondary-btn:hover {
  color: #f73c3c; }

.dark-btn {
  border-color: #333;
  color: #333; }

.dark-btn::after {
  background: #333; }

.dark-btn:hover {
  color: #fff; }

@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free.eot?w118d");
  src: url("../fonts/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal; }
.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnr-home:before {
  content: "\e800"; }

.lnr-apartment:before {
  content: "\e801"; }

.lnr-pencil:before {
  content: "\e802"; }

.lnr-magic-wand:before {
  content: "\e803"; }

.lnr-drop:before {
  content: "\e804"; }

.lnr-lighter:before {
  content: "\e805"; }

.lnr-poop:before {
  content: "\e806"; }

.lnr-sun:before {
  content: "\e807"; }

.lnr-moon:before {
  content: "\e808"; }

.lnr-cloud:before {
  content: "\e809"; }

.lnr-cloud-upload:before {
  content: "\e80a"; }

.lnr-cloud-download:before {
  content: "\e80b"; }

.lnr-cloud-sync:before {
  content: "\e80c"; }

.lnr-cloud-check:before {
  content: "\e80d"; }

.lnr-database:before {
  content: "\e80e"; }

.lnr-lock:before {
  content: "\e80f"; }

.lnr-cog:before {
  content: "\e810"; }

.lnr-trash:before {
  content: "\e811"; }

.lnr-dice:before {
  content: "\e812"; }

.lnr-heart:before {
  content: "\e813"; }

.lnr-star:before {
  content: "\e814"; }

.lnr-star-half:before {
  content: "\e815"; }

.lnr-star-empty:before {
  content: "\e816"; }

.lnr-flag:before {
  content: "\e817"; }

.lnr-envelope:before {
  content: "\e818"; }

.lnr-paperclip:before {
  content: "\e819"; }

.lnr-inbox:before {
  content: "\e81a"; }

.lnr-eye:before {
  content: "\e81b"; }

.lnr-printer:before {
  content: "\e81c"; }

.lnr-file-empty:before {
  content: "\e81d"; }

.lnr-file-add:before {
  content: "\e81e"; }

.lnr-enter:before {
  content: "\e81f"; }

.lnr-exit:before {
  content: "\e820"; }

.lnr-graduation-hat:before {
  content: "\e821"; }

.lnr-license:before {
  content: "\e822"; }

.lnr-music-note:before {
  content: "\e823"; }

.lnr-film-play:before {
  content: "\e824"; }

.lnr-camera-video:before {
  content: "\e825"; }

.lnr-camera:before {
  content: "\e826"; }

.lnr-picture:before {
  content: "\e827"; }

.lnr-book:before {
  content: "\e828"; }

.lnr-bookmark:before {
  content: "\e829"; }

.lnr-user:before {
  content: "\e82a"; }

.lnr-users:before {
  content: "\e82b"; }

.lnr-shirt:before {
  content: "\e82c"; }

.lnr-store:before {
  content: "\e82d"; }

.lnr-cart:before {
  content: "\e82e"; }

.lnr-tag:before {
  content: "\e82f"; }

.lnr-phone-handset:before {
  content: "\e830"; }

.lnr-phone:before {
  content: "\e831"; }

.lnr-pushpin:before {
  content: "\e832"; }

.lnr-map-marker:before {
  content: "\e833"; }

.lnr-map:before {
  content: "\e834"; }

.lnr-location:before {
  content: "\e835"; }

.lnr-calendar-full:before {
  content: "\e836"; }

.lnr-keyboard:before {
  content: "\e837"; }

.lnr-spell-check:before {
  content: "\e838"; }

.lnr-screen:before {
  content: "\e839"; }

.lnr-smartphone:before {
  content: "\e83a"; }

.lnr-tablet:before {
  content: "\e83b"; }

.lnr-laptop:before {
  content: "\e83c"; }

.lnr-laptop-phone:before {
  content: "\e83d"; }

.lnr-power-switch:before {
  content: "\e83e"; }

.lnr-bubble:before {
  content: "\e83f"; }

.lnr-heart-pulse:before {
  content: "\e840"; }

.lnr-construction:before {
  content: "\e841"; }

.lnr-pie-chart:before {
  content: "\e842"; }

.lnr-chart-bars:before {
  content: "\e843"; }

.lnr-gift:before {
  content: "\e844"; }

.lnr-diamond:before {
  content: "\e845"; }

.lnr-linearicons:before {
  content: "\e846"; }

.lnr-dinner:before {
  content: "\e847"; }

.lnr-coffee-cup:before {
  content: "\e848"; }

.lnr-leaf:before {
  content: "\e849"; }

.lnr-paw:before {
  content: "\e84a"; }

.lnr-rocket:before {
  content: "\e84b"; }

.lnr-briefcase:before {
  content: "\e84c"; }

.lnr-bus:before {
  content: "\e84d"; }

.lnr-car:before {
  content: "\e84e"; }

.lnr-train:before {
  content: "\e84f"; }

.lnr-bicycle:before {
  content: "\e850"; }

.lnr-wheelchair:before {
  content: "\e851"; }

.lnr-select:before {
  content: "\e852"; }

.lnr-earth:before {
  content: "\e853"; }

.lnr-smile:before {
  content: "\e854"; }

.lnr-sad:before {
  content: "\e855"; }

.lnr-neutral:before {
  content: "\e856"; }

.lnr-mustache:before {
  content: "\e857"; }

.lnr-alarm:before {
  content: "\e858"; }

.lnr-bullhorn:before {
  content: "\e859"; }

.lnr-volume-high:before {
  content: "\e85a"; }

.lnr-volume-medium:before {
  content: "\e85b"; }

.lnr-volume-low:before {
  content: "\e85c"; }

.lnr-volume:before {
  content: "\e85d"; }

.lnr-mic:before {
  content: "\e85e"; }

.lnr-hourglass:before {
  content: "\e85f"; }

.lnr-undo:before {
  content: "\e860"; }

.lnr-redo:before {
  content: "\e861"; }

.lnr-sync:before {
  content: "\e862"; }

.lnr-history:before {
  content: "\e863"; }

.lnr-clock:before {
  content: "\e864"; }

.lnr-download:before {
  content: "\e865"; }

.lnr-upload:before {
  content: "\e866"; }

.lnr-enter-down:before {
  content: "\e867"; }

.lnr-exit-up:before {
  content: "\e868"; }

.lnr-bug:before {
  content: "\e869"; }

.lnr-code:before {
  content: "\e86a"; }

.lnr-link:before {
  content: "\e86b"; }

.lnr-unlink:before {
  content: "\e86c"; }

.lnr-thumbs-up:before {
  content: "\e86d"; }

.lnr-thumbs-down:before {
  content: "\e86e"; }

.lnr-magnifier:before {
  content: "\e86f"; }

.lnr-cross:before {
  content: "\e870"; }

.lnr-menu:before {
  content: "\e871"; }

.lnr-list:before {
  content: "\e872"; }

.lnr-chevron-up:before {
  content: "\e873"; }

.lnr-chevron-down:before {
  content: "\e874"; }

.lnr-chevron-left:before {
  content: "\e875"; }

.lnr-chevron-right:before {
  content: "\e876"; }

.lnr-arrow-up:before {
  content: "\e877"; }

.lnr-arrow-down:before {
  content: "\e878"; }

.lnr-arrow-left:before {
  content: "\e879"; }

.lnr-arrow-right:before {
  content: "\e87a"; }

.lnr-move:before {
  content: "\e87b"; }

.lnr-warning:before {
  content: "\e87c"; }

.lnr-question-circle:before {
  content: "\e87d"; }

.lnr-menu-circle:before {
  content: "\e87e"; }

.lnr-checkmark-circle:before {
  content: "\e87f"; }

.lnr-cross-circle:before {
  content: "\e880"; }

.lnr-plus-circle:before {
  content: "\e881"; }

.lnr-circle-minus:before {
  content: "\e882"; }

.lnr-arrow-up-circle:before {
  content: "\e883"; }

.lnr-arrow-down-circle:before {
  content: "\e884"; }

.lnr-arrow-left-circle:before {
  content: "\e885"; }

.lnr-arrow-right-circle:before {
  content: "\e886"; }

.lnr-chevron-up-circle:before {
  content: "\e887"; }

.lnr-chevron-down-circle:before {
  content: "\e888"; }

.lnr-chevron-left-circle:before {
  content: "\e889"; }

.lnr-chevron-right-circle:before {
  content: "\e88a"; }

.lnr-crop:before {
  content: "\e88b"; }

.lnr-frame-expand:before {
  content: "\e88c"; }

.lnr-frame-contract:before {
  content: "\e88d"; }

.lnr-layers:before {
  content: "\e88e"; }

.lnr-funnel:before {
  content: "\e88f"; }

.lnr-text-format:before {
  content: "\e890"; }

.lnr-text-format-remove:before {
  content: "\e891"; }

.lnr-text-size:before {
  content: "\e892"; }

.lnr-bold:before {
  content: "\e893"; }

.lnr-italic:before {
  content: "\e894"; }

.lnr-underline:before {
  content: "\e895"; }

.lnr-strikethrough:before {
  content: "\e896"; }

.lnr-highlight:before {
  content: "\e897"; }

.lnr-text-align-left:before {
  content: "\e898"; }

.lnr-text-align-center:before {
  content: "\e899"; }

.lnr-text-align-right:before {
  content: "\e89a"; }

.lnr-text-align-justify:before {
  content: "\e89b"; }

.lnr-line-spacing:before {
  content: "\e89c"; }

.lnr-indent-increase:before {
  content: "\e89d"; }

.lnr-indent-decrease:before {
  content: "\e89e"; }

.lnr-pilcrow:before {
  content: "\e89f"; }

.lnr-direction-ltr:before {
  content: "\e8a0"; }

.lnr-direction-rtl:before {
  content: "\e8a1"; }

.lnr-page-break:before {
  content: "\e8a2"; }

.lnr-sort-alpha-asc:before {
  content: "\e8a3"; }

.lnr-sort-amount-asc:before {
  content: "\e8a4"; }

.lnr-hand:before {
  content: "\e8a5"; }

.lnr-pointer-up:before {
  content: "\e8a6"; }

.lnr-pointer-right:before {
  content: "\e8a7"; }

.lnr-pointer-down:before {
  content: "\e8a8"; }

.lnr-pointer-left:before {
  content: "\e8a9"; }

.lnr-bigger {
  font-size: 1.3em; }

.lnr-2x {
  font-size: 2em; }

.lnr-7x {
  font-size: 7em; }

.lnr-ul li {
  line-height: 2;
  list-style: none; }
.lnr-ul .lnr {
  color: #50d33d;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 0.5em;
  vertical-align: middle; }

@font-face {
  font-family: 'brandico';
  src: url("../fonts/brandico.eot?26238069");
  src: url("../fonts/brandico.eot?26238069#iefix") format("embedded-opentype"), url("../fonts/brandico.woff?26238069") format("woff"), url("../fonts/brandico.ttf?26238069") format("truetype"), url("../fonts/brandico.svg?26238069#brandico") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "brandico";
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\f300'; }

/* '´îÇ' */
.icon-facebook-rect:before {
  content: '\f301'; }

/* '´îü' */
.icon-twitter:before {
  content: '\f302'; }

/* '´îé' */
.icon-twitter-bird:before {
  content: '\f303'; }

/* '´îâ' */
.icon-vimeo:before {
  content: '\f30f'; }

/* '´îÅ' */
.icon-vimeo-rect:before {
  content: '\f30e'; }

/* '´îÄ' */
.icon-tumblr:before {
  content: '\f311'; }

/* '´îæ' */
.icon-tumblr-rect:before {
  content: '\f310'; }

/* '´îÉ' */
.icon-googleplus-rect:before {
  content: '\f309'; }

/* '´îë' */
.icon-github-text:before {
  content: '\f307'; }

/* '´îç' */
.icon-github:before {
  content: '\f308'; }

/* '´îê' */
.icon-skype:before {
  content: '\f30b'; }

/* '´îï' */
.icon-icq:before {
  content: '\f304'; }

/* '´îä' */
.icon-yandex:before {
  content: '\f305'; }

/* '´îà' */
.icon-yandex-rect:before {
  content: '\f306'; }

/* '´îå' */
.icon-vkontakte-rect:before {
  content: '\f30a'; }

/* '´îè' */
.icon-odnoklassniki:before {
  content: '\f30c'; }

/* '´îî' */
.icon-odnoklassniki-rect:before {
  content: '\f30d'; }

/* '´îì' */
.icon-friendfeed:before {
  content: '\f312'; }

/* '´îÆ' */
.icon-friendfeed-rect:before {
  content: '\f313'; }

/* '´îô' */
.icon-blogger:before {
  content: '\f314'; }

/* '´îö' */
.icon-blogger-rect:before {
  content: '\f315'; }

/* '´îò' */
.icon-deviantart:before {
  content: '\f316'; }

/* '´îû' */
.icon-jabber:before {
  content: '\f317'; }

/* '´îù' */
.icon-lastfm:before {
  content: '\f318'; }

/* '´îÿ' */
.icon-lastfm-rect:before {
  content: '\f319'; }

/* '´îÖ' */
.icon-linkedin:before {
  content: '\f31a'; }

/* '´îÜ' */
.icon-linkedin-rect:before {
  content: '\f31b'; }

/* '´îø' */
.icon-picasa:before {
  content: '\f31c'; }

/* '´î£' */
.icon-wordpress:before {
  content: '\f31d'; }

/* '´îØ' */
.icon-instagram:before {
  content: '\f31e'; }

/* '´î×' */
.icon-instagram-filled:before {
  content: '\f31f'; }

/* '´îƒ' */
.icon-diigo:before {
  content: '\f320'; }

/* '´îá' */
.icon-box:before {
  content: '\f321'; }

/* '´îí' */
.icon-box-rect:before {
  content: '\f322'; }

/* '´îó' */
.icon-tudou:before {
  content: '\f323'; }

/* '´îú' */
.icon-youku:before {
  content: '\f324'; }

/* '´îñ' */
.icon-win8:before {
  content: '\f325'; }

/* '´îÑ' */
.icon-amex:before {
  content: '\f326'; }

/* '´îª' */
.icon-discover:before {
  content: '\f327'; }

/* '´îº' */
.icon-visa:before {
  content: '\f328'; }

/* '´î¿' */
.icon-mastercard:before {
  content: '\f329'; }

/* '´î®' */
.icon-houzz:before {
  content: '\f32a'; }

/* '´î¬' */
.icon-bandcamp:before {
  content: '\f32b'; }

/* '´î½' */
.icon-codepen:before {
  content: '\f32c'; }

/* '´î¼' */
a {
  color: #50d33d;
  font-weight: normal; }

blockquote {
  font-style: italic;
  margin: 0 40px;
  padding: 1.5% 0;
  position: relative;
  text-align: left; }

blockquote:before {
  content: "\201C";
  font-size: 7em;
  font-style: normal;
  position: absolute;
  left: -40px;
  top: -20px; }

blockquote:after {
  content: "\201D";
  font-size: 7em;
  font-style: normal;
  position: absolute;
  right: -40px;
  bottom: -80px; }

em {
  font-style: italic; }

img {
  height: auto;
  width: 100%; }

p + p {
  margin-top: 10px; }

p + ul {
  margin-top: 0; }

ul + p {
  margin-top: 10px; }

strong {
  font-weight: bold; }

.center {
  clear: both;
  text-align: center; }

.color {
  color: #50d33d; }

.framed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: #dadbd9 1px solid;
  font-size: 0.93em;
  padding: 30px 15px 10px 15px;
  position: relative;
  width: 235px;
  z-index: 1; }
  .framed p {
    margin: 0;
    text-align: center; }
  .framed .big-number {
    background: #fff;
    display: inline-block;
    font: bold 4.2em Bebas, sans-serif;
    left: 50%;
    padding: 0 10px;
    position: absolute;
    transform: translateX(-50%);
    top: -35px;
    z-index: -1; }

.light-row .framed {
  border-color: #fff; }
  .light-row .framed .big-number {
    background: #dadbd9; }

.framed + .framed {
  margin-top: 50px; }

.frames {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .frames {
    flex-direction: row;
    justify-content: space-between; } }
p.lead + .frames {
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .framed + .framed {
    margin-top: 0; } }
.lead, .lead:last-of-type {
  font-size: 1.3em;
  margin-bottom: 20px; }

.light-row {
  position: relative; }

.light-row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: #dadbd9; }

.primary-row {
  background: #50d33d;
  color: #fff; }

.circle {
  background: #dadbd9;
  border-radius: 50%;
  border: #fff 4px solid;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  z-index: 1; }

.ligne {
  background: #fff;
  height: 65px;
  margin: auto;
  position: relative;
  width: 4px; }

.links .lnr {
  font-size: 25px;
  position: relative;
  top: 4px; }

.media-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative; }

.media-container iframe,
.media-container object,
.media-container embed,
.media-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.media-container + p {
  margin-top: 30px; }

.title-2 ~ .btn {
  margin-top: 0; }

.subnav {
  background: #dadbd9; }
  .subnav ul {
    display: flex;
    flex-wrap: wrap; }
    .subnav ul li {
      display: flex;
      list-style: none;
      margin: 0;
      text-align: center;
      width: 50%; }
      .subnav ul li a {
        color: #333;
        font-size: 1.2em;
        height: 50px;
        line-height: 2.7;
        transition: 0.5s;
        width: 100%; }
      .subnav ul li a:hover, .subnav ul li .active {
        background: #50d33d;
        color: #fff; }
  @media (min-width: 768px) {
    .subnav ul {
      margin: auto;
      width: 750px; }
      .subnav ul li {
        width: auto; }
        .subnav ul li a {
          padding: 0 30px; } }
  @media (min-width: 992px) {
    .subnav ul {
      width: 970px; } }
  @media (min-width: 1200px) {
    .subnav ul {
      width: 1170px; } }

.strong-framed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 4px solid;
  padding: 7px 20px 20px 20px;
  position: relative;
  margin: 20px auto 0 auto;
  z-index: 50; }
  .strong-framed p {
    text-align: left; }
  .strong-framed .lead {
    font-weight: normal; }
  .strong-framed .title-2 {
    text-align: center; }
  .strong-framed .title-3 {
    margin-bottom: 0; }
  .strong-framed .year {
    background: #dadbd9;
    display: inline;
    font-size: 0.94em;
    font-style: italic;
    font-weight: 500;
    margin: auto;
    left: 50%;
    padding: 0 15px;
    position: absolute;
    transform: translateX(-50%);
    top: -12px;
    z-index: -50; }
  .strong-framed .framed-3 {
    border: #848484 1px solid; }

.tag {
  background: #fff;
  color: #848484;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 5px 0;
  padding: 2px 10px; }

@media (min-width: 768px) {
  .strong-framed {
    display: inline-block; }

  .framed-content {
    margin: auto;
    width: 550px; } }
@media (min-width: 992px) {
  .framed-3 {
    float: left;
    width: 32% !important; }

  .framed-3 + .framed-3 {
    margin-left: 2%; } }
.secondary-color-framed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: #f73c3c 1px solid;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  position: relative;
  margin-top: 30px;
  width: 100%;
  z-index: 1; }
  .secondary-color-framed .secondary-color-framed-title {
    background: #fff;
    color: #f73c3c;
    display: inline;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    font-size: 0.94em;
    font-style: italic;
    margin: auto;
    padding: 0 15px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    z-index: -1; }
  .secondary-color-framed .bottom {
    top: 100%; }
  .secondary-color-framed p {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .secondary-color-framed .secondary-color-framed {
      font-size: 0.93em;
      padding: 0 15px 10px 15px;
      width: calc(50% - 15px); }
    .secondary-color-framed .secondary-color-framed + .secondary-color-framed {
      margin-left: 30px; } }

.arrow-bottom {
  width: 0;
  border: 20px solid transparent;
  border-top: 20px solid #dadbd9;
  margin: auto; }

.activity-sectors-title {
  background: #fff;
  border: 1px solid #f73c3c;
  color: #f73c3c;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin: 5px;
  padding: 10px;
  text-align: center;
  transition: 0.5s; }

.activity-sectors-title:hover {
  background: initial; }

.activity-sectors-title.selected {
  background: #f73c3c;
  color: #fff; }

.activity-panel {
  width: 100%;
  display: none;
  transition: 0.5s; }

.activity-panel.selected {
  display: block;
  transition: 0.5s; }

.activity-panel-title {
  background: #fff;
  color: #f73c3c;
  display: block;
  font: 1.5em Bebas, sans-serif;
  margin: -2em auto 1em auto !important;
  width: 70%; }

.activity-panel-text {
  font-size: 1.3em; }

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .people + .title-2 {
    margin-top: 60px; }
  .people h3 {
    font: 1.3em Bebas, sans-serif; }
  .people .lnr {
    bottom: -5px;
    font-size: 1.5em;
    margin-right: 10px;
    position: relative; }
  .people .icon-linkedin-rect {
    font-size: 0.8em; }

.people-picture {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  height: 80px;
  margin-right: 10px;
  width: 80px; }

.people-info {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 90px);
  justify-content: space-between;
  text-align: right; }

.staff-member {
  align-items: center;
  background: #dadbd9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0 10px;
  padding: 20px;
  width: 250px; }
  .staff-member h3 {
    margin-top: 20px; }
  .staff-member .people-picture {
    height: 110px;
    width: 110px; }
  .staff-member .role {
    font-size: 1.1em;
    text-align: center; }

@media (min-width: 768px) {
  .people:after {
    content: "";
    flex: auto; }

  .staff-member {
    justify-content: space-between;
    margin: 20px 20px 0 0;
    width: calc(33.33333333% - 13.33333333px); }

  .staff-member:nth-child(3n) {
    margin-right: 0; } }
.main-filter {
  border: #50d33d 1px solid;
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 110px; }

.main-filter:hover {
  cursor: pointer;
  background: #50d33d;
  color: #fff;
  transition: 0.5s; }

.main-selected-filter {
  background: #50d33d;
  color: #fff; }

.project-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start; }

.project {
  flex-basis: 100%;
  margin-top: 30px; }
  .project .img-project {
    position: relative; }
    .project .img-project img {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #dadbd9;
      display: block; }
    .project .img-project .hover-img-project {
      display: flex;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #dadbd9;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      transition-duration: 0.5s;
      width: 100%; }
      .project .img-project .hover-img-project span {
        font-size: 2.5em; }
  .project .img-project:hover .hover-img-project {
    opacity: 1; }
  .project .tag {
    border: #848484 1px solid;
    color: #848484;
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    padding: 2px 4px; }
  .project .important-tag {
    border: #f73c3c 1px solid;
    color: #f73c3c; }

@media (min-width: 768px) {
  .project {
    flex-basis: 48%; } }
@media (min-width: 992px) {
  .project {
    flex-basis: 32%; } }
.arrow {
  display: none; }

@media (min-width: 768px) {
  .arrow {
    cursor: pointer;
    display: inline;
    font-size: 3em;
    position: absolute;
    top: 12%; }

  .arrow-right {
    right: 0; } }
.slider {
  overflow: hidden;
  position: relative; }

.slide {
  float: left;
  height: 1600px; }
  .slide .col-9 {
    margin-bottom: 40px; }

.student {
  background: #dadbd9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0 10px;
  padding: 10px;
  width: 250px; }

.student-picture {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  height: 80px;
  margin-right: 10px;
  width: 80px; }

.student-info {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 90px);
  justify-content: space-between;
  text-align: right; }
  .student-info h3 {
    font: 1.3em Bebas, sans-serif; }
  .student-info .lnr {
    bottom: -5px;
    font-size: 1.5em;
    margin-right: 10px;
    position: relative; }
  .student-info .icon-linkedin-rect {
    font-size: 0.8em; }

@media (min-width: 768px) {
  .students:after {
    content: "";
    flex: auto; }

  .student {
    background: #dadbd9;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 0;
    padding: 10px;
    width: calc(33.33333333% - 13.33333333px); }

  .student:nth-child(3n) {
    margin-right: 0; } }
@media (min-width: 992px) {
  .student {
    width: calc(25% - 15px); }

  .student:nth-child(3n) {
    margin-right: 20px; }

  .student:nth-child(4n) {
    margin-right: 0; } }
.association .title-3 {
  margin-bottom: 0; }

.association:nth-child(even) {
  background: #dadbd9; }

.grid {
  margin-top: 60px; }

.grid-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 15px;
  margin: auto;
  width: 316px; }
  .grid-cell img {
    display: block;
    margin: auto;
    max-height: 110px;
    padding-bottom: 15px;
    width: auto; }

.grid-cell:nth-child(odd) {
  background: #f7f7f7; }

.grid-cell:nth-child(even) {
  background: #dadbd9; }

@media (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap; }

  .grid-cell {
    margin: 5px;
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px); }

  .grid-cell:nth-child(n) {
    background: #f7f7f7; }

  .grid-cell:nth-child(4n+2),
  .grid-cell:nth-child(4n+3) {
    background: #dadbd9; }

  .valign-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); } }
@media (min-width: 992px) {
  .grid-cell {
    width: -webkit-calc(33.33333333% - 10px);
    width: calc(33.33333333% - 10px); }

  .grid-cell:nth-child(odd) {
    background: #f7f7f7; }

  .grid-cell:nth-child(even) {
    background: #dadbd9; } }
.timerjpo {
  padding: 2em;
  background-color: #f73c3c;
  color: white;
  text-align: center; }
  .timerjpo p {
    font-size: 1.5em; }

.select-year {
  margin: 20px 0; }
  .select-year select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #50d33d solid;
    border-radius: 0;
    display: block;
    font: 1.8em Bebas, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%; }
  @media (min-width: 768px) {
    .select-year select {
      margin: 0 auto;
      width: 350px; } }

.promo-arrow {
  display: none; }

@media (min-width: 768px) {
  .promo-arrow {
    cursor: pointer;
    display: inline;
    font-size: 3em;
    position: absolute;
    top: 45%; }

  .promo-arrow-left {
    left: -60px; }

  .promo-arrow-right {
    right: -60px; } }
@media (min-width: 992px) {
  .promo-arrow-left {
    left: -75px; }

  .promo-arrow-right {
    right: -75px; } }
.master-promo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; }
  .master-promo .content-promo {
    overflow: hidden;
    margin: 0 auto;
    font-size: 0;
    position: relative;
    box-sizing: border-box;
    text-align: left; }

.inner-promo {
  display: inline-block;
  height: auto;
  float: left; }

.color-banner {
  background: #848484; }

.img-banner {
  background-size: cover !important;
  color: #fff;
  position: relative; }
  .img-banner p {
    font-size: 1.2em;
    font-weight: normal; }
  .img-banner .col-x {
    margin-bottom: 0; }
  .img-banner .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1; }
  @media (min-width: 768px) {
    .img-banner .col-x {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 460px; }
    .img-banner .container {
      height: 435px; }
    .img-banner .slanted {
      background: rgba(0, 0, 0, 0.25);
      width: 725px; } }
  @media (min-width: 992px) {
    .img-banner .slanted {
      width: 815px; } }
  @media (min-width: 1200px) {
    .img-banner .slanted {
      width: 875px; } }

@media (min-width: 768px) {
  .color-banner {
    background: none; } }
.testimonial {
  position: relative;
  text-align: center;
  width: 100%; }
  .testimonial ul {
    align-items: center;
    display: flex;
    justify-content: center; }
    .testimonial ul li {
      list-style: none;
      margin: 0; }
  .testimonial .slider-arrow {
    color: #848484;
    cursor: pointer;
    display: none;
    font-size: 3em;
    position: absolute;
    top: calc(50% - 22px); }
  .testimonial .slider-arrow:hover {
    color: #50d33d; }
  .testimonial .testi-picture {
    border-radius: 50%;
    display: inline-block;
    height: 160px;
    overflow: hidden;
    width: 160px; }
    .testimonial .testi-picture img {
      min-height: 100%;
      min-width: 100%; }
  .testimonial .testi-role {
    font-weight: normal; }
  .testimonial .testi-show {
    margin: auto;
    overflow: hidden;
    width: 90%; }
  @media (min-width: 768px) {
    .testimonial .slider-arrow {
      display: inline; }
    .testimonial .slider-arrow-left {
      left: -20px; }
    .testimonial .slider-arrow-right {
      right: -20px; }
    .testimonial .testi-body {
      display: inline-block;
      margin-left: 40px;
      text-align: left;
      vertical-align: middle;
      width: 440px; }
    .testimonial .testi-picture {
      vertical-align: middle; } }
  @media (min-width: 992px) {
    .testimonial .slider-arrow-left {
      left: 0; }
    .testimonial .slider-arrow-right {
      right: 0; }
    .testimonial .testi-body {
      width: 550px; } }

.close {
  background: #fff;
  border: #dadbd9 1px solid;
  color: #50d33d;
  display: inline-block;
  font-size: 3em;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 15px; }

.project-item .lnr {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -5px;
  text-align: center;
  vertical-align: top;
  width: 30px; }

@media (min-width: 992px) {
  .project-item-content + .project-item-content {
    margin-left: 100px; } }
.project-item {
  margin-top: 30px; }

.project-item-content {
  display: inline-block;
  vertical-align: top; }
