@charset "UTF-8";
html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font-weight: normal;*/
  text-decoration: none;
  vertical-align: baseline; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-it-webfont.eot");
  src: url("../fonts/sourcesanspro-it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-it-webfont.woff") format("woff"), url("../fonts/sourcesanspro-it-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-it-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../fonts/sourcesanspro-lightit-webfont.eot");
  src: url("../fonts/sourcesanspro-lightit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-lightit-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-lightit-webfont.woff") format("woff"), url("../fonts/sourcesanspro-lightit-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-lightit-webfont.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Open Sans Pro";
  src: url("../sourcesanspro-semiboldit-webfont.eot");
  src: url("../sourcesanspro-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../sourcesanspro-semiboldit-webfont.woff2") format("woff2"), url("../sourcesanspro-semiboldit-webfont.woff") format("woff"), url("../sourcesanspro-semiboldit-webfont.ttf") format("truetype"), url("../sourcesanspro-semiboldit-webfont.svg") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue_regular-webfont.eot");
  src: url("../fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebasneue_regular-webfont.ttf") format("truetype"), url("../fonts/bebasneue_regular-webfont.svg") format("svg");
  font-weight: normal; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue_book-webfont.eot");
  src: url("../fonts/bebasneue_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_book-webfont.woff2") format("woff2"), url("../fonts/bebasneue_book-webfont.woff") format("woff"), url("../fonts/bebasneue_book-webfont.ttf") format("truetype"), url("../fonts/bebasneue_book-webfont.svg") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebasneue_bold-webfont.eot");
  src: url("../fonts/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff"), url("../fonts/bebasneue_bold-webfont.ttf") format("truetype"), url("../fonts/bebasneue_bold-webfont.svg") format("svg");
  font-weight: bold; }
body {
  background: #fff;
  color: #333;
  font: 300 15px "Open Sans Pro", sans-serif;
  letter-spacing: 0.02em; }

h1 {
  font: 300 3.4em Bebas, sans-serif; }

.title-1 {
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center; }

.title-2 {
  font: 300 2em Bebas, sans-serif;
  margin-bottom: 15px; }

.title-3 {
  font: 300 1.5em Bebas, sans-serif;
  margin-bottom: 15px; }

.title-4 {
  font-size: 1.4em;
  font-weight: bold; }

.title-5 {
  font: 300 1.5em Bebas, sans-serif; }

.lnr + .title-3 {
  margin-top: 30px; }

p + .title-5 {
  margin-top: 20px; }

ul li {
  list-style: disc;
  margin-left: 40px; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 60px 15px;
  position: relative; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.col-2,
.col-3,
.col-2-3,
.col-x {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 40px; }
  .col-2 p,
  .col-3 p,
  .col-2-3 p,
  .col-x p {
    text-align: left; }

.col-2:last-of-type,
.col-3:last-of-type,
.col-2-3:last-of-type {
  margin-bottom: 0; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.container:before,
.clearfix:after,
.container:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after,
.container:after {
  clear: both; }

@media (min-width: 768px) {
  .col-2,
  .col-3,
  .col-2-3,
  .col-x {
    margin-bottom: 0; }

  .col-2 {
    width: 50%; }

  .col-3 {
    width: 33.33333%; }

  .container {
    width: 750px; }

  .slanted, .prefooter .slanted {
    height: 100%;
    position: absolute;
    left: -125px;
    transform: skewX(30deg); } }
@media (min-width: 992px) {
  .col-2-3 {
    width: 66.66666%; }

  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.side-padding {
  padding: 0 4%; }

.side-padding:last {
  padding-right: 0; }

.center-content-padding {
  padding-left: 6%;
  padding-right: 6%; }
  .center-content-padding h1, .center-content-padding .title-2 {
    text-align: center; }

.ariane {
  border-bottom: #dadbd9 1px solid;
  border-top: #dadbd9 1px solid;
  color: #848484;
  font-size: 0.93em; }
  .ariane .container {
    padding-bottom: 4px;
    padding-top: 4px; }

header {
  display: none; }

@media (min-width: 768px) {
  header {
    background: #f7f7f7;
    display: block;
    position: relative; }
    header a {
      color: #333;
      z-index: 1000; }
    header img {
      display: inline-block;
      height: 80px;
      vertical-align: bottom;
      width: auto; }
    header .container {
      padding: 20px 15px;
      position: relative;
      z-index: 1; }
    header .header-titles {
      border-left: 2px #333 solid;
      display: inline-block;
      font-weight: bold;
      line-height: 1;
      margin-left: 30px;
      padding-left: 10px;
      vertical-align: bottom; } }
nav {
  background: #f7f7f7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  height: 60px;
  width: 100%; }
  nav img {
    height: 100%;
    width: auto; }
  nav ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #333;
    display: none;
    padding: 0 15px;
    position: static; }
    nav ul a {
      color: #fff;
      border-bottom: transparent 3px solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      font: 1.4em Bebas;
      height: 60px;
      line-height: 2.9;
      width: 100%; }
    nav ul a:hover, nav ul .active {
      border-color: #50d33d;
      color: #50d33d; }
    nav ul li {
      width: 100%; }
    nav ul .lnr {
      display: none; }
  nav label {
    position: absolute;
    right: 0; }
  nav .show-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    color: #333;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 10px 15px;
    vertical-align: middle; }
    nav .show-menu .lnr {
      font-size: 3em; }
  nav .show-menu:hover {
    color: #50d33d; }
  nav input[type=checkbox] {
    display: none; }
  nav input[type=checkbox]:checked ~ ul {
    display: block;
    position: relative;
    z-index: 1000; }
  nav input[type=checkbox]:checked ~ .show-menu {
    color: #50d33d; }
  @media (min-width: 768px) {
    nav ul {
      display: static;
      margin: auto;
      width: 750px; }
      nav ul a {
        font: 1.2em Bebas;
        height: 60px;
        line-height: 3.3;
        width: auto; }
      nav ul li {
        display: inline-block;
        width: auto; }
      nav ul li:first-child {
        margin-left: 0; }
      nav ul .lnr {
        display: inline; }
    nav li + li {
      margin-left: 20px; }
    nav .nav-text {
      display: none; }
    nav .show-menu {
      display: none; }
    nav input[type=checkbox] ~ ul {
      display: block;
      position: relative;
      z-index: 1000; } }
  @media (min-width: 992px) {
    nav ul {
      width: 970px; }
      nav ul a {
        font-size: 1.4em;
        line-height: 2.9; }
    nav li + li {
      margin-left: 38px; } }
  @media (min-width: 1200px) {
    nav ul {
      width: 1170px; }
    nav li + li {
      margin-left: 66px; } }

@media (min-width: 768px) {
  nav {
    background: #333; } }
.prefooter {
  background: #f73c3c;
  color: #fff;
  text-align: center;
  position: relative; }
  .prefooter .container {
    position: relative;
    z-index: 1; }
  .prefooter .slanted {
    background: #ed2626;
    width: 577px; }

footer {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  text-align: center; }
  footer img {
    height: 45px;
    width: auto; }
  footer .col-x {
    margin-bottom: 0; }
    footer .col-x p {
      font-size: 0.93em;
      font-style: italic;
      margin-bottom: 20px;
      text-align: left; }
  footer .contact {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    vertical-align: top; }
  footer .container {
    position: relative;
    z-index: 1; }
  footer .end-footer {
    background: #333;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    z-index: 1; }
    footer .end-footer a {
      color: #fff; }
  footer .lnr {
    position: relative;
    bottom: 1px; }
  footer .logo-imac {
    display: none; }
  footer .slanted, footer .prefooter .slanted, .prefooter footer .slanted {
    background: rgba(0, 0, 0, 0.5); }
  footer .social-media {
    margin-top: 20px; }
  footer .title-2 {
    margin-bottom: 0;
    text-align: left; }
  footer .useful-informations {
    color: #333;
    margin-bottom: 20px; }
  footer .useful-links {
    margin: 5px 0 20px 0; }
  footer .col-3:first-of-type {
    text-align: left; }
  footer .col-3:last-of-type {
    text-align: right; }
  footer .col-2,
  footer .col-3 {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    footer .col-x {
      margin-bottom: 0;
      width: 34%; }
    footer .logo-imac {
      display: inline-block;
      height: 85px;
      width: auto; }
    footer .slanted, footer .prefooter .slanted, .prefooter footer .slanted {
      width: 725px; }
    footer .social-media {
      display: inline-block;
      margin-left: 40px; }
    footer .useful-informations {
      float: right;
      margin-bottom: 0;
      text-align: left;
      width: 50%; }
      footer .useful-informations a {
        margin-right: 20px; }
      footer .useful-informations .col-3:nth-of-type(3) {
        text-align: center; }
      footer .useful-informations .col-3:last-of-type {
        text-align: right; } }
  @media (min-width: 992px) {
    footer .col-3 {
      width: 33.33333%; }
    footer .slanted, footer .prefooter .slanted, .prefooter footer .slanted {
      width: 725px; }
    footer .useful-informations {
      width: 55%; } }

@media (min-width: 768px) {
  footer {
    background: #dadbd9; } }
.title2 ~ .btn, .title2 ~ .primary-btn, .title2 ~ .simple-primary-btn, .title2 ~ .secondary-btn, .title2 ~ .simple-btn {
  margin-top: 1000px; }

.btn, .primary-btn, .simple-primary-btn, .secondary-btn, .simple-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent 1px solid;
  display: inline-block;
  font-style: italic;
  font-weight: normal;
  margin: 30px 5px 0 5px;
  padding: 10px;
  text-align: center;
  width: 225px; }

.primary-btn {
  color: #fff;
  overflow: hidden;
  transition: all 0.3s ease-in;
  position: relative;
  border: solid 1px #50d33d; }

.primary-btn:hover {
  color: #50d33d; }

.primary-btn::after {
  position: absolute;
  z-index: -1;
  content: '';
  width: 100%;
  height: 1000%;
  top: 50%;
  left: 50%;
  background: #50d33d;
  opacity: 1;
  transition-duration: 0.5s;
  transform: translateX(-50%) translateY(-50%) rotate(45deg); }

.primary-btn:hover:after {
  height: 0;
  opacity: 0; }

.simple-primary-btn {
  border-color: #50d33d;
  color: #50d33d; }

.secondary-btn {
  background: #fff;
  color: #f73c3c; }

.simple-btn {
  border-color: #fff;
  color: #fff; }

@media (min-width: 1200px) {
  .btn + .btn, .primary-btn + .btn, .simple-primary-btn + .btn, .secondary-btn + .btn, .simple-btn + .btn, .btn + .primary-btn, .primary-btn + .primary-btn, .simple-primary-btn + .primary-btn, .secondary-btn + .primary-btn, .simple-btn + .primary-btn, .btn + .simple-primary-btn, .primary-btn + .simple-primary-btn, .simple-primary-btn + .simple-primary-btn, .secondary-btn + .simple-primary-btn, .simple-btn + .simple-primary-btn, .btn + .secondary-btn, .primary-btn + .secondary-btn, .simple-primary-btn + .secondary-btn, .secondary-btn + .secondary-btn, .simple-btn + .secondary-btn, .btn + .simple-btn, .primary-btn + .simple-btn, .simple-primary-btn + .simple-btn, .secondary-btn + .simple-btn, .simple-btn + .simple-btn {
    margin-left: 70px; } }
@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free.eot?w118d");
  src: url("../fonts/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal; }
.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnr-home:before {
  content: "\e800"; }

.lnr-apartment:before {
  content: "\e801"; }

.lnr-pencil:before {
  content: "\e802"; }

.lnr-magic-wand:before {
  content: "\e803"; }

.lnr-drop:before {
  content: "\e804"; }

.lnr-lighter:before {
  content: "\e805"; }

.lnr-poop:before {
  content: "\e806"; }

.lnr-sun:before {
  content: "\e807"; }

.lnr-moon:before {
  content: "\e808"; }

.lnr-cloud:before {
  content: "\e809"; }

.lnr-cloud-upload:before {
  content: "\e80a"; }

.lnr-cloud-download:before {
  content: "\e80b"; }

.lnr-cloud-sync:before {
  content: "\e80c"; }

.lnr-cloud-check:before {
  content: "\e80d"; }

.lnr-database:before {
  content: "\e80e"; }

.lnr-lock:before {
  content: "\e80f"; }

.lnr-cog:before {
  content: "\e810"; }

.lnr-trash:before {
  content: "\e811"; }

.lnr-dice:before {
  content: "\e812"; }

.lnr-heart:before {
  content: "\e813"; }

.lnr-star:before {
  content: "\e814"; }

.lnr-star-half:before {
  content: "\e815"; }

.lnr-star-empty:before {
  content: "\e816"; }

.lnr-flag:before {
  content: "\e817"; }

.lnr-envelope:before {
  content: "\e818"; }

.lnr-paperclip:before {
  content: "\e819"; }

.lnr-inbox:before {
  content: "\e81a"; }

.lnr-eye:before {
  content: "\e81b"; }

.lnr-printer:before {
  content: "\e81c"; }

.lnr-file-empty:before {
  content: "\e81d"; }

.lnr-file-add:before {
  content: "\e81e"; }

.lnr-enter:before {
  content: "\e81f"; }

.lnr-exit:before {
  content: "\e820"; }

.lnr-graduation-hat:before {
  content: "\e821"; }

.lnr-license:before {
  content: "\e822"; }

.lnr-music-note:before {
  content: "\e823"; }

.lnr-film-play:before {
  content: "\e824"; }

.lnr-camera-video:before {
  content: "\e825"; }

.lnr-camera:before {
  content: "\e826"; }

.lnr-picture:before {
  content: "\e827"; }

.lnr-book:before {
  content: "\e828"; }

.lnr-bookmark:before {
  content: "\e829"; }

.lnr-user:before {
  content: "\e82a"; }

.lnr-users:before {
  content: "\e82b"; }

.lnr-shirt:before {
  content: "\e82c"; }

.lnr-store:before {
  content: "\e82d"; }

.lnr-cart:before {
  content: "\e82e"; }

.lnr-tag:before {
  content: "\e82f"; }

.lnr-phone-handset:before {
  content: "\e830"; }

.lnr-phone:before {
  content: "\e831"; }

.lnr-pushpin:before {
  content: "\e832"; }

.lnr-map-marker:before {
  content: "\e833"; }

.lnr-map:before {
  content: "\e834"; }

.lnr-location:before {
  content: "\e835"; }

.lnr-calendar-full:before {
  content: "\e836"; }

.lnr-keyboard:before {
  content: "\e837"; }

.lnr-spell-check:before {
  content: "\e838"; }

.lnr-screen:before {
  content: "\e839"; }

.lnr-smartphone:before {
  content: "\e83a"; }

.lnr-tablet:before {
  content: "\e83b"; }

.lnr-laptop:before {
  content: "\e83c"; }

.lnr-laptop-phone:before {
  content: "\e83d"; }

.lnr-power-switch:before {
  content: "\e83e"; }

.lnr-bubble:before {
  content: "\e83f"; }

.lnr-heart-pulse:before {
  content: "\e840"; }

.lnr-construction:before {
  content: "\e841"; }

.lnr-pie-chart:before {
  content: "\e842"; }

.lnr-chart-bars:before {
  content: "\e843"; }

.lnr-gift:before {
  content: "\e844"; }

.lnr-diamond:before {
  content: "\e845"; }

.lnr-linearicons:before {
  content: "\e846"; }

.lnr-dinner:before {
  content: "\e847"; }

.lnr-coffee-cup:before {
  content: "\e848"; }

.lnr-leaf:before {
  content: "\e849"; }

.lnr-paw:before {
  content: "\e84a"; }

.lnr-rocket:before {
  content: "\e84b"; }

.lnr-briefcase:before {
  content: "\e84c"; }

.lnr-bus:before {
  content: "\e84d"; }

.lnr-car:before {
  content: "\e84e"; }

.lnr-train:before {
  content: "\e84f"; }

.lnr-bicycle:before {
  content: "\e850"; }

.lnr-wheelchair:before {
  content: "\e851"; }

.lnr-select:before {
  content: "\e852"; }

.lnr-earth:before {
  content: "\e853"; }

.lnr-smile:before {
  content: "\e854"; }

.lnr-sad:before {
  content: "\e855"; }

.lnr-neutral:before {
  content: "\e856"; }

.lnr-mustache:before {
  content: "\e857"; }

.lnr-alarm:before {
  content: "\e858"; }

.lnr-bullhorn:before {
  content: "\e859"; }

.lnr-volume-high:before {
  content: "\e85a"; }

.lnr-volume-medium:before {
  content: "\e85b"; }

.lnr-volume-low:before {
  content: "\e85c"; }

.lnr-volume:before {
  content: "\e85d"; }

.lnr-mic:before {
  content: "\e85e"; }

.lnr-hourglass:before {
  content: "\e85f"; }

.lnr-undo:before {
  content: "\e860"; }

.lnr-redo:before {
  content: "\e861"; }

.lnr-sync:before {
  content: "\e862"; }

.lnr-history:before {
  content: "\e863"; }

.lnr-clock:before {
  content: "\e864"; }

.lnr-download:before {
  content: "\e865"; }

.lnr-upload:before {
  content: "\e866"; }

.lnr-enter-down:before {
  content: "\e867"; }

.lnr-exit-up:before {
  content: "\e868"; }

.lnr-bug:before {
  content: "\e869"; }

.lnr-code:before {
  content: "\e86a"; }

.lnr-link:before {
  content: "\e86b"; }

.lnr-unlink:before {
  content: "\e86c"; }

.lnr-thumbs-up:before {
  content: "\e86d"; }

.lnr-thumbs-down:before {
  content: "\e86e"; }

.lnr-magnifier:before {
  content: "\e86f"; }

.lnr-cross:before {
  content: "\e870"; }

.lnr-menu:before {
  content: "\e871"; }

.lnr-list:before {
  content: "\e872"; }

.lnr-chevron-up:before {
  content: "\e873"; }

.lnr-chevron-down:before {
  content: "\e874"; }

.lnr-chevron-left:before {
  content: "\e875"; }

.lnr-chevron-right:before {
  content: "\e876"; }

.lnr-arrow-up:before {
  content: "\e877"; }

.lnr-arrow-down:before {
  content: "\e878"; }

.lnr-arrow-left:before {
  content: "\e879"; }

.lnr-arrow-right:before {
  content: "\e87a"; }

.lnr-move:before {
  content: "\e87b"; }

.lnr-warning:before {
  content: "\e87c"; }

.lnr-question-circle:before {
  content: "\e87d"; }

.lnr-menu-circle:before {
  content: "\e87e"; }

.lnr-checkmark-circle:before {
  content: "\e87f"; }

.lnr-cross-circle:before {
  content: "\e880"; }

.lnr-plus-circle:before {
  content: "\e881"; }

.lnr-circle-minus:before {
  content: "\e882"; }

.lnr-arrow-up-circle:before {
  content: "\e883"; }

.lnr-arrow-down-circle:before {
  content: "\e884"; }

.lnr-arrow-left-circle:before {
  content: "\e885"; }

.lnr-arrow-right-circle:before {
  content: "\e886"; }

.lnr-chevron-up-circle:before {
  content: "\e887"; }

.lnr-chevron-down-circle:before {
  content: "\e888"; }

.lnr-chevron-left-circle:before {
  content: "\e889"; }

.lnr-chevron-right-circle:before {
  content: "\e88a"; }

.lnr-crop:before {
  content: "\e88b"; }

.lnr-frame-expand:before {
  content: "\e88c"; }

.lnr-frame-contract:before {
  content: "\e88d"; }

.lnr-layers:before {
  content: "\e88e"; }

.lnr-funnel:before {
  content: "\e88f"; }

.lnr-text-format:before {
  content: "\e890"; }

.lnr-text-format-remove:before {
  content: "\e891"; }

.lnr-text-size:before {
  content: "\e892"; }

.lnr-bold:before {
  content: "\e893"; }

.lnr-italic:before {
  content: "\e894"; }

.lnr-underline:before {
  content: "\e895"; }

.lnr-strikethrough:before {
  content: "\e896"; }

.lnr-highlight:before {
  content: "\e897"; }

.lnr-text-align-left:before {
  content: "\e898"; }

.lnr-text-align-center:before {
  content: "\e899"; }

.lnr-text-align-right:before {
  content: "\e89a"; }

.lnr-text-align-justify:before {
  content: "\e89b"; }

.lnr-line-spacing:before {
  content: "\e89c"; }

.lnr-indent-increase:before {
  content: "\e89d"; }

.lnr-indent-decrease:before {
  content: "\e89e"; }

.lnr-pilcrow:before {
  content: "\e89f"; }

.lnr-direction-ltr:before {
  content: "\e8a0"; }

.lnr-direction-rtl:before {
  content: "\e8a1"; }

.lnr-page-break:before {
  content: "\e8a2"; }

.lnr-sort-alpha-asc:before {
  content: "\e8a3"; }

.lnr-sort-amount-asc:before {
  content: "\e8a4"; }

.lnr-hand:before {
  content: "\e8a5"; }

.lnr-pointer-up:before {
  content: "\e8a6"; }

.lnr-pointer-right:before {
  content: "\e8a7"; }

.lnr-pointer-down:before {
  content: "\e8a8"; }

.lnr-pointer-left:before {
  content: "\e8a9"; }

.lnr-bigger {
  font-size: 1.3em; }

.lnr-2x {
  font-size: 2em; }

.lnr-7x {
  font-size: 7em; }

.lnr-ul {
  list-style: none; }

@font-face {
  font-family: 'brandico';
  src: url("../fonts/brandico.eot?26238069");
  src: url("../fonts/brandico.eot?26238069#iefix") format("embedded-opentype"), url("../fonts/brandico.woff?26238069") format("woff"), url("../fonts/brandico.ttf?26238069") format("truetype"), url("../fonts/brandico.svg?26238069#brandico") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "brandico";
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\f300'; }

/* '´îÇ' */
.icon-facebook-rect:before {
  content: '\f301'; }

/* '´îü' */
.icon-twitter:before {
  content: '\f302'; }

/* '´îé' */
.icon-twitter-bird:before {
  content: '\f303'; }

/* '´îâ' */
.icon-vimeo:before {
  content: '\f30f'; }

/* '´îÅ' */
.icon-vimeo-rect:before {
  content: '\f30e'; }

/* '´îÄ' */
.icon-tumblr:before {
  content: '\f311'; }

/* '´îæ' */
.icon-tumblr-rect:before {
  content: '\f310'; }

/* '´îÉ' */
.icon-googleplus-rect:before {
  content: '\f309'; }

/* '´îë' */
.icon-github-text:before {
  content: '\f307'; }

/* '´îç' */
.icon-github:before {
  content: '\f308'; }

/* '´îê' */
.icon-skype:before {
  content: '\f30b'; }

/* '´îï' */
.icon-icq:before {
  content: '\f304'; }

/* '´îä' */
.icon-yandex:before {
  content: '\f305'; }

/* '´îà' */
.icon-yandex-rect:before {
  content: '\f306'; }

/* '´îå' */
.icon-vkontakte-rect:before {
  content: '\f30a'; }

/* '´îè' */
.icon-odnoklassniki:before {
  content: '\f30c'; }

/* '´îî' */
.icon-odnoklassniki-rect:before {
  content: '\f30d'; }

/* '´îì' */
.icon-friendfeed:before {
  content: '\f312'; }

/* '´îÆ' */
.icon-friendfeed-rect:before {
  content: '\f313'; }

/* '´îô' */
.icon-blogger:before {
  content: '\f314'; }

/* '´îö' */
.icon-blogger-rect:before {
  content: '\f315'; }

/* '´îò' */
.icon-deviantart:before {
  content: '\f316'; }

/* '´îû' */
.icon-jabber:before {
  content: '\f317'; }

/* '´îù' */
.icon-lastfm:before {
  content: '\f318'; }

/* '´îÿ' */
.icon-lastfm-rect:before {
  content: '\f319'; }

/* '´îÖ' */
.icon-linkedin:before {
  content: '\f31a'; }

/* '´îÜ' */
.icon-linkedin-rect:before {
  content: '\f31b'; }

/* '´îø' */
.icon-picasa:before {
  content: '\f31c'; }

/* '´î£' */
.icon-wordpress:before {
  content: '\f31d'; }

/* '´îØ' */
.icon-instagram:before {
  content: '\f31e'; }

/* '´î×' */
.icon-instagram-filled:before {
  content: '\f31f'; }

/* '´îƒ' */
.icon-diigo:before {
  content: '\f320'; }

/* '´îá' */
.icon-box:before {
  content: '\f321'; }

/* '´îí' */
.icon-box-rect:before {
  content: '\f322'; }

/* '´îó' */
.icon-tudou:before {
  content: '\f323'; }

/* '´îú' */
.icon-youku:before {
  content: '\f324'; }

/* '´îñ' */
.icon-win8:before {
  content: '\f325'; }

/* '´îÑ' */
.icon-amex:before {
  content: '\f326'; }

/* '´îª' */
.icon-discover:before {
  content: '\f327'; }

/* '´îº' */
.icon-visa:before {
  content: '\f328'; }

/* '´î¿' */
.icon-mastercard:before {
  content: '\f329'; }

/* '´î®' */
.icon-houzz:before {
  content: '\f32a'; }

/* '´î¬' */
.icon-bandcamp:before {
  content: '\f32b'; }

/* '´î½' */
.icon-codepen:before {
  content: '\f32c'; }

/* '´î¼' */
a {
  color: #50d33d;
  font-weight: normal; }

blockquote {
  font-style: italic;
  margin: 0 40px;
  padding: 1.5% 0;
  position: relative;
  text-align: left; }

blockquote:before {
  content: "\201C";
  font-size: 7em;
  font-style: normal;
  position: absolute;
  left: -40px;
  top: -20px; }

blockquote:after {
  content: "\201D";
  font-size: 7em;
  font-style: normal;
  position: absolute;
  right: -40px;
  bottom: -20px; }

em {
  font-style: italic; }

img {
  height: auto;
  width: 100%; }

p + p {
  margin-top: 10px; }

p + ul {
  margin-top: 0; }

ul + p {
  margin-top: 10px; }

strong {
  font-weight: bold; }

.center {
  clear: both;
  text-align: center; }

.color {
  color: #50d33d; }

.framed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: #dadbd9 1px solid;
  font-size: 0.93em;
  padding: 30px 15px 10px 15px;
  position: relative;
  margin: auto;
  width: 235px;
  z-index: 1; }
  .framed p {
    margin: 0;
    text-align: center; }
  .framed .big-number {
    background: #fff;
    display: inline-block;
    font: bold 4.2em Bebas, sans-serif;
    margin: auto;
    left: 50%;
    padding: 0 10px;
    position: absolute;
    transform: translateX(-50%);
    top: -35px;
    z-index: -1; }

.light-row .framed {
  border-color: #fff; }
  .light-row .framed .big-number {
    background: #dadbd9; }

.framed + .framed {
  margin-top: 50px; }

.frames {
  margin-top: 40px;
  position: relative; }

p.lead + .frames {
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .framed:first-child {
    position: absolute;
    top: 0;
    left: 0; }

  .framed:last-child {
    position: absolute;
    top: 0;
    right: 0; }

  .framed + .framed {
    margin-top: 0; } }
.lead, .lead:last-of-type {
  font-size: 1.3em;
  margin-bottom: 20px; }

.light-row {
  position: relative; }

.light-row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: #dadbd9; }

.circle {
  background: #dadbd9;
  border-radius: 50%;
  border: #fff 4px solid;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  z-index: 1; }

.ligne {
  background: #fff;
  height: 65px;
  margin: auto;
  position: relative;
  width: 4px; }

.media-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative; }

.media-container iframe,
.media-container object,
.media-container embed,
.media-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.media-container + p {
  margin-top: 30px; }

.ctn-inline-middle {
  font-size: 0;
  padding-top: 0; }

.inline-middle {
  display: inline-block !important;
  vertical-align: middle;
  float: none;
  font-size: 15px;
  text-align: left; }

.arrow-bottom {
  width: 0;
  border: 20px solid transparent;
  border-top: 20px solid #dadbd9;
  margin: auto; }

.activity-sectors-title {
  background-color: white;
  display: inline-block;
  margin: 0.5em;
  width: auto;
  text-align: center;
  border: 1px solid #f73c3c;
  font-style: normal;
  cursor: pointer;
  transition: 0.5s; }

.activity-sectors-title:hover {
  background-color: initial; }

@media (min-width: 1200px) {
  .activity-sectors-title + .activity-sectors-title {
    margin-left: 0; } }
.activity-sectors-title.selected {
  background-color: #f73c3c;
  color: white;
  transition: all 0.2s; }

.activity-panel-container {
  text-align: center; }

.activity-panel.selected {
  display: block;
  transition: all 0.5s; }

.activity-panel {
  margin-top: 1em;
  position: relative !important;
  width: 70%;
  display: none;
  transition: 0.5s; }

.activity-panel-title {
  background: #fff;
  display: block;
  font: 1.5em Bebas, sans-serif;
  color: #f73c3c;
  margin: auto !important;
  width: inherit;
  padding: 0;
  margin-top: -2em !important;
  margin-bottom: 1em !important; }

.activity-panel-text {
  font-size: 1.3em; }

.list-puce {
  color: #50d33d;
  font-size: 20pt;
  font-weight: bold;
  margin-right: 0.5em;
  vertical-align: middle; }

.list-competences {
  list-style-type: none;
  margin-bottom: 1em; }

.select-year {
  margin: 20px 0; }
  .select-year select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #50d33d solid;
    border-radius: 0;
    display: block;
    font: 2em Bebas, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%; }
  @media (min-width: 768px) {
    .select-year select {
      margin: 0 auto;
      width: 400px; } }

.promo-arrow {
  display: none; }

@media (min-width: 768px) {
  .promo-arrow {
    cursor: pointer;
    display: inline;
    font-size: 3em;
    position: absolute;
    top: 45%; }

  .promo-arrow-left {
    left: -60px; }

  .promo-arrow-right {
    right: -60px; } }
@media (min-width: 992px) {
  .promo-arrow-left {
    left: -75px; }

  .promo-arrow-right {
    right: -75px; } }
.master-promo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; }
  .master-promo .content-promo {
    overflow: hidden;
    margin: 0 auto;
    font-size: 0;
    position: relative;
    box-sizing: border-box;
    text-align: left; }

.inner-promo {
  display: inline-block;
  height: auto;
  float: left; }

.color-banner {
  background: #848484; }

.img-banner {
  background-size: cover !important;
  color: #fff;
  position: relative; }
  .img-banner p {
    font-size: 1.2em;
    font-weight: normal; }
  .img-banner .col-x {
    margin-bottom: 0; }
  .img-banner .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1; }
  @media (min-width: 768px) {
    .img-banner .col-x {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 460px; }
    .img-banner .container {
      height: 435px; }
    .img-banner .slanted {
      background: rgba(0, 0, 0, 0.25);
      width: 725px; } }
  @media (min-width: 992px) {
    .img-banner .slanted {
      width: 815px; } }
  @media (min-width: 1200px) {
    .img-banner .slanted {
      width: 875px; } }

@media (min-width: 768px) {
  .color-banner {
    background: none; } }
.testi-picture {
  border-radius: 50%;
  height: 160px;
  width: auto; }

.testi-role {
  font-weight: normal; }

.testimonial {
  text-align: center; }

.testi-arrow {
  font-size: 5em;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer; }

.testi-arrow-left {
  padding-right: 50px; }

.testi-arrow-right {
  padding-left: 50px; }

.ctn-testimonial {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; }

.inner-testimonial {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: table; }

.master-testimonial {
  overflow: hidden; }

@media (min-width: 768px) {
  .testi-picture {
    display: table-cell; }

  .testi-body {
    display: table-cell;
    padding-left: 70px;
    vertical-align: middle; }

  .testi-role {
    font-weight: normal; }

  .testimonial {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    margin: 15px auto 0 auto;
    text-align: left;
    width: 720px; } }
.subnav {
  background: #dadbd9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  height: 50px;
  width: 100%; }
  .subnav ul a {
    color: #333;
    border-bottom: transparent 3px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    height: 50px;
    line-height: 2.9; }
  .subnav ul a:hover, .subnav ul .active {
    border-color: #50d33d; }
  .subnav li {
    display: inline-block; }
  @media (min-width: 768px) {
    .subnav ul {
      margin: auto;
      width: 750px; }
    .subnav li {
      margin: 0 14px; }
    .subnav li:first-child {
      margin-left: 0; }
    .subnav li:last-child {
      margin-right: 0; } }
  @media (min-width: 992px) {
    .subnav ul {
      width: 970px; }
    .subnav li {
      margin: 0 23px; } }
  @media (min-width: 1200px) {
    .subnav ul {
      width: 1170px; }
    .subnav li {
      margin: 0 20px; } }

.strong-framed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 4px solid;
  padding: 7px 20px 20px 20px;
  position: relative;
  margin: 20px auto 0 auto;
  z-index: 50; }
  .strong-framed p {
    text-align: left; }
  .strong-framed .lead {
    font-weight: normal; }
  .strong-framed .title-3 {
    margin-bottom: 0; }
  .strong-framed .year {
    background: #dadbd9;
    display: inline;
    font-size: 0.94em;
    font-style: italic;
    font-weight: 500;
    margin: auto;
    left: 50%;
    padding: 0 15px;
    position: absolute;
    transform: translateX(-50%);
    top: -12px;
    z-index: -50; }
  .strong-framed .framed-3 {
    border: #848484 1px solid; }

@media (min-width: 768px) {
  .strong-framed {
    display: inline-block; }

  .framed-content {
    margin: auto;
    width: 550px; } }
@media (min-width: 992px) {
  .framed-3 {
    float: left;
    width: 32% !important; }

  .framed-3 + .framed-3 {
    margin-left: 2%; } }
.secondary-color-framed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: #f73c3c 1px solid;
  padding: 0 4% 4% 4%;
  position: relative;
  margin-top: 20px;
  z-index: 1; }
  @media (min-width: 768px) {
    .secondary-color-framed .secondary-color-framed {
      float: left;
      font-size: 0.93em;
      padding: 0 15px 10px 15px;
      width: 40%; }
    .secondary-color-framed .secondary-color-framed + .secondary-color-framed {
      margin-left: 20%; } }
  .secondary-color-framed .secondary-color-framed-title {
    background: #fff;
    color: #f73c3c;
    display: inline;
    font-size: 0.94em;
    font-style: italic;
    margin: auto;
    left: 50%;
    padding: 0 15px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    top: -10px;
    z-index: -1; }

.project {
  text-align: center; }
  .project h3 {
    text-align: left; }
  .project img {
    margin: 15px 0 5px 0; }

.tag {
  background: #fff;
  color: #848484;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 5px 0;
  padding: 2px 10px; }

.grid-cell {
  padding: 15px; }
  .grid-cell img {
    display: block;
    margin: 0 auto; }

.grid-cell:nth-child(odd) {
  background: red; }

.grid-cell:nth-child(even) {
  background: #dadbd9; }

@media (min-width: 992px) {
  .grid {
    flex-wrap: wrap;
    display: flex; }

  .grid-cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    width: 30%; } }
.close {
  background: #fff;
  border: #dadbd9 1px solid;
  color: #50d33d;
  display: inline-block;
  font-size: 3em;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 15px; }

.project-item .lnr {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -5px;
  text-align: center;
  vertical-align: top;
  width: 30px; }

@media (min-width: 992px) {
  .project-item-content + .project-item-content {
    margin-left: 100px; } }
.project-item {
  margin-top: 30px; }

.project-item-content {
  display: inline-block;
  vertical-align: top; }
